body {
			background: #fcf8f8;
		}
		.pad_10{
			padding: 10px;
		}
		.fnt-wgt_600 {
			font-weight: 600;
		}
		.font_18 {
			font-size: 18px;
		}
		.navbar .navbar-brand img {
			wid/th: 170px;
			margin-top: -6px;
		}
		.card {			
		    padding-bottom: 0.7rem;
		    max-wi/dth: 709px;
		    border: 0;
		    bor/der-radius: 10px;
		    display: inline-block;
		    position: relative;
		    overflow: hidden;
		    width: 100%;
		    mar/gin-bott/om: 20px;
		    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2) !important;
		    margin-top: 45px;
		}
		.card-plain {
			background: #efefef;
		    box-shadow: none;
		    padding: 20px 15px 15px;
		}
	
		.top-line {
			height: 5px;
			background: #5dbcc8;
		}
		.second-line {
			height: 50px;
			background: #5dbcc8;
		}
		.footer-line {
			position: absolute;
		    bottom: 0;
		    width: 100%;
		    height: 50px;
		    line-height: 50px;
		    background-color: #5dbcc8;
		}
		.instruction .eg-inst {
			color: #fff;
			border: 1px solid #fff;
			border-radius: 10px;
			padding: 10px;
			letter-spacing: 0.3pt;
		}
		.instruction {
			padding: 68px 10px 10px 10px;
		}
		.top-line .wrapper {
			position: relative;
		}
		.wrapper {
			width: 940px;
		    margin: 0 auto;
		    padding-left: 42px;
		    padding-right: 42px;
		    clear: both;
		}
		.top-line .wrapper .top-link {
			position: absolute;
		    top: 0;
		    right: 295px;
		    height: 31px;
		    width: 300px;
		    text-align: left;
		    background: url(bg-topbar-medium.png) no-repeat top center;
		    padding-left: 10px;
		    z-index: 999;
		    padding-top: 3px;
		}
		.top-line .wrapper .top-link:after {
			content: ".";
		    display: block;
		    height: 0;
		    clear: both;
		    visibility: hidden;
		}
		.top-line .wrapper .top-link ul {
			list-style: none;
		    padding: 0px;
		    margin: 0px;
		}
		.top-line .wrapper .top-link ul li {
			display: inline-block;
		    padd/ing: 0 8px;
		    margin: 0 0 0 23px;
		    font-size: 0.85em;
		    font-weight: 300;
		    color: #ffffff;
		    letter-spacing: 0.1pt;
		}
		.card-heading {
			border-bottom: 1px dashed #6d6e72;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.card-heading .order-wrp {

		}
		.card-heading .order-wrp .ord-nme {
			font-size: 15px;
		    font-weight: 600;
		    letter-spacing: 0.5pt;
		}
		.card-heading .order-wrp .ord-num {
			font-size: 18px;
		    font-weight: 800;
		    letter-spacing: 0.8pt;
		}
		.card-heading .order-wrp .ord-num {
			font-size: 17px;
		    font-weight: 600;
		    letter-spacing: 0.8pt;
		}
		/*.totAmt-wrp .amt-nme {
			font-size: 17px;
			font-weight: 600;
		}
		.totAmt-wrp .inr {
			font-size: 17px;
			font-weight: 600;
			text-transform: uppercase;
			color: red;
		}*/
		.tot-amt {
			font-size: 17px;
			font-weight: 600;
			color: red;
		}
		.card-body{
			padding: 30px 16px 0 16px;
		}
		.card-body .pay-top{
			background: #5dbcc8;
		}
		.pay-top {
			color: #fff;
    		letter-spacing: 0.8pt;
    		font-size: 13px;
		}
		.list-group-item:first-child {
			border-top-left-radius: 0 !important;
    		border-top-right-radius: 0 !important;
		}
		.list-group-item:last-child {
			border-bottom-right-radius: 0 !important;
    		border-bottom-left-radius: 0 !important;
		}
		.card-body .frm {
			text-align: center;
			margin-bottom: 28px;
		}
		.card-body .frm button {
			background: #284986;
			color: #ffffff;
			border-color: #284986;
		}
