@charset "UTF-8";

@font-face {
  font-family: "landy";
  src:url("fonts/landy.eot");
  src:url("fonts/landy.eot?#iefix") format("embedded-opentype"),
    url("fonts/landy.woff") format("woff"),
    url("fonts/landy.ttf") format("truetype"),
    url("fonts/landy.svg#landy") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "landy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "landy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abc:before {
  content: "\61";
}
.icon-add-user:before {
  content: "\62";
}
.icon-admin:before {
  content: "\63";
}
.icon-alarm:before {
  content: "\64";
}
.icon-analytics:before {
  content: "\65";
}
.icon-analytics-1:before {
  content: "\66";
}
.icon-arrow:before {
  content: "\67";
}
.icon-backup:before {
  content: "\68";
}
.icon-bank:before {
  content: "\69";
}
.icon-bar-chart:before {
  content: "\6a";
}
.icon-bar-chart-1:before {
  content: "\6b";
}
.icon-bar-chart-2:before {
  content: "\6c";
}
.icon-bar-chart-3:before {
  content: "\6d";
}
.icon-bar-chart-4:before {
  content: "\6e";
}
.icon-bar-chart-5:before {
  content: "\6f";
}
.icon-book:before {
  content: "\70";
}
.icon-boss:before {
  content: "\71";
}
.icon-box:before {
  content: "\72";
}
.icon-boy:before {
  content: "\73";
}
.icon-briefcase:before {
  content: "\74";
}
.icon-browser:before {
  content: "\75";
}
.icon-browser-1:before {
  content: "\76";
}
.icon-browser-2:before {
  content: "\77";
}
.icon-browser-3:before {
  content: "\78";
}
.icon-bug:before {
  content: "\79";
}
.icon-bug-1:before {
  content: "\7a";
}
.icon-building:before {
  content: "\41";
}
.icon-bullhorn:before {
  content: "\42";
}
.icon-businessman:before {
  content: "\43";
}
.icon-businessman-1:before {
  content: "\44";
}
.icon-captain:before {
  content: "\45";
}
.icon-career:before {
  content: "\46";
}
.icon-cash-point:before {
  content: "\47";
}
.icon-chart:before {
  content: "\48";
}
.icon-chat:before {
  content: "\49";
}
.icon-chat-1:before {
  content: "\4a";
}
.icon-clipboard:before {
  content: "\4b";
}
.icon-cloud:before {
  content: "\4c";
}
.icon-cloud-computing:before {
  content: "\4d";
}
.icon-cloud-computing-1:before {
  content: "\4e";
}
.icon-cloud-computing-2:before {
  content: "\4f";
}
.icon-cloud-computing-3:before {
  content: "\50";
}
.icon-cloud-computing-4:before {
  content: "\51";
}
.icon-cloud-computing-5:before {
  content: "\52";
}
.icon-cloud-computing-6:before {
  content: "\53";
}
.icon-coin:before {
  content: "\54";
}
.icon-computer:before {
  content: "\55";
}
.icon-computer-1:before {
  content: "\56";
}
.icon-cooperation:before {
  content: "\57";
}
.icon-cpu:before {
  content: "\58";
}
.icon-credit:before {
  content: "\59";
}
.icon-crown:before {
  content: "\5a";
}
.icon-curriculum:before {
  content: "\30";
}
.icon-customer-service:before {
  content: "\31";
}
.icon-data:before {
  content: "\32";
}
.icon-database:before {
  content: "\33";
}
.icon-decrease:before {
  content: "\34";
}
.icon-desk:before {
  content: "\35";
}
.icon-desk-chair:before {
  content: "\36";
}
.icon-diagram:before {
  content: "\37";
}
.icon-diagram-1:before {
  content: "\38";
}
.icon-diagram-2:before {
  content: "\39";
}
.icon-dialog:before {
  content: "\21";
}
.icon-dialog-1:before {
  content: "\22";
}
.icon-diploma:before {
  content: "\23";
}
.icon-dollar:before {
  content: "\24";
}
.icon-dollar-1:before {
  content: "\25";
}
.icon-dollar-2:before {
  content: "\26";
}
.icon-dossier:before {
  content: "\27";
}
.icon-dossier-1:before {
  content: "\28";
}
.icon-email:before {
  content: "\29";
}
.icon-employee:before {
  content: "\2a";
}
.icon-employee-1:before {
  content: "\2b";
}
.icon-employee-2:before {
  content: "\2c";
}
.icon-employee-3:before {
  content: "\2d";
}
.icon-employee-4:before {
  content: "\2e";
}
.icon-employee-5:before {
  content: "\2f";
}
.icon-employee-6:before {
  content: "\3a";
}
.icon-employee-7:before {
  content: "\3b";
}
.icon-employees:before {
  content: "\3c";
}
.icon-employees-1:before {
  content: "\3d";
}
.icon-employees-2:before {
  content: "\3e";
}
.icon-error-404:before {
  content: "\3f";
}
.icon-eye:before {
  content: "\40";
}
.icon-firewall:before {
  content: "\5b";
}
.icon-flag:before {
  content: "\5d";
}
.icon-flags:before {
  content: "\5e";
}
.icon-folder:before {
  content: "\5f";
}
.icon-folder-1:before {
  content: "\60";
}
.icon-folder-2:before {
  content: "\7b";
}
.icon-folders:before {
  content: "\7c";
}
.icon-gauge:before {
  content: "\7d";
}
.icon-gears:before {
  content: "\7e";
}
.icon-goal:before {
  content: "\5c";
}
.icon-group:before {
  content: "\e000";
}
.icon-growth:before {
  content: "\e001";
}
.icon-growth-1:before {
  content: "\e002";
}
.icon-hierarchical-structure:before {
  content: "\e003";
}
.icon-hierarchical-structure-1:before {
  content: "\e004";
}
.icon-house:before {
  content: "\e005";
}
.icon-human-resources:before {
  content: "\e006";
}
.icon-human-resources-1:before {
  content: "\e007";
}
.icon-id-card:before {
  content: "\e008";
}
.icon-idea:before {
  content: "\e009";
}
.icon-idea-2:before {
  content: "\e00a";
}
.icon-improve:before {
  content: "\e00b";
}
.icon-increase:before {
  content: "\e00c";
}
.icon-index:before {
  content: "\e00d";
}
.icon-infographic:before {
  content: "\e00e";
}
.icon-infographic-1:before {
  content: "\e00f";
}
.icon-internet:before {
  content: "\e010";
}
.icon-investment:before {
  content: "\e011";
}
.icon-investment-1:before {
  content: "\e012";
}
.icon-investment-2:before {
  content: "\e013";
}
.icon-investment-3:before {
  content: "\e014";
}
.icon-job:before {
  content: "\e015";
}
.icon-job-search:before {
  content: "\e016";
}
.icon-keyword:before {
  content: "\e017";
}
.icon-laptop:before {
  content: "\e018";
}
.icon-leader:before {
  content: "\e019";
}
.icon-leader-1:before {
  content: "\e01a";
}
.icon-leader-2:before {
  content: "\e01b";
}
.icon-leader-3:before {
  content: "\e01c";
}
.icon-leader-4:before {
  content: "\e01d";
}
.icon-leader-5:before {
  content: "\e01e";
}
.icon-leader-6:before {
  content: "\e01f";
}
.icon-like:before {
  content: "\e020";
}
.icon-line-graph:before {
  content: "\e021";
}
.icon-link:before {
  content: "\e022";
}
.icon-list:before {
  content: "\e023";
}
.icon-loupe:before {
  content: "\e024";
}
.icon-loupe-1:before {
  content: "\e025";
}
.icon-magnet:before {
  content: "\e026";
}
.icon-mail:before {
  content: "\e027";
}
.icon-man:before {
  content: "\e028";
}
.icon-man-1:before {
  content: "\e029";
}
.icon-man-2:before {
  content: "\e02a";
}
.icon-management:before {
  content: "\e02b";
}
.icon-management-1:before {
  content: "\e02c";
}
.icon-map:before {
  content: "\e02d";
}
.icon-matrix:before {
  content: "\e02e";
}
.icon-medal:before {
  content: "\e02f";
}
.icon-message:before {
  content: "\e030";
}
.icon-monitor:before {
  content: "\e031";
}
.icon-monitor-1:before {
  content: "\e032";
}
.icon-monitoring:before {
  content: "\e033";
}
.icon-network:before {
  content: "\e034";
}
.icon-networking:before {
  content: "\e035";
}
.icon-notification:before {
  content: "\e036";
}
.icon-padlock:before {
  content: "\e037";
}
.icon-pendrive:before {
  content: "\e038";
}
.icon-percentage:before {
  content: "\e039";
}
.icon-person:before {
  content: "\e03a";
}
.icon-petals:before {
  content: "\e03b";
}
.icon-pie-chart:before {
  content: "\e03c";
}
.icon-pie-chart-1:before {
  content: "\e03d";
}
.icon-pie-chart-2:before {
  content: "\e03e";
}
.icon-piggybank:before {
  content: "\e03f";
}
.icon-piggybank-1:before {
  content: "\e040";
}
.icon-placeholder:before {
  content: "\e041";
}
.icon-plant:before {
  content: "\e042";
}
.icon-plant-1:before {
  content: "\e043";
}
.icon-pointer:before {
  content: "\e044";
}
.icon-premium:before {
  content: "\e045";
}
.icon-presentation:before {
  content: "\e046";
}
.icon-presentation-1:before {
  content: "\e047";
}
.icon-presentation-2:before {
  content: "\e048";
}
.icon-presentation-3:before {
  content: "\e049";
}
.icon-profits:before {
  content: "\e04a";
}
.icon-promotion:before {
  content: "\e04b";
}
.icon-puzzle:before {
  content: "\e04c";
}
.icon-pyramid-chart:before {
  content: "\e04d";
}
.icon-quality:before {
  content: "\e04e";
}
.icon-question:before {
  content: "\e04f";
}
.icon-radial:before {
  content: "\e050";
}
.icon-rating:before {
  content: "\e051";
}
.icon-ratio:before {
  content: "\e052";
}
.icon-relations:before {
  content: "\e053";
}
.icon-responsive:before {
  content: "\e054";
}
.icon-reunion:before {
  content: "\e055";
}
.icon-reunion-1:before {
  content: "\e056";
}
.icon-review:before {
  content: "\e057";
}
.icon-saving:before {
  content: "\e058";
}
.icon-saving-1:before {
  content: "\e059";
}
.icon-scales:before {
  content: "\e05a";
}
.icon-schedule:before {
  content: "\e05b";
}
.icon-search:before {
  content: "\e05c";
}
.icon-server:before {
  content: "\e05d";
}
.icon-server-1:before {
  content: "\e05e";
}
.icon-server-2:before {
  content: "\e05f";
}
.icon-server-3:before {
  content: "\e060";
}
.icon-server-4:before {
  content: "\e061";
}
.icon-settings:before {
  content: "\e062";
}
.icon-share:before {
  content: "\e063";
}
.icon-shield:before {
  content: "\e064";
}
.icon-shopping-cart:before {
  content: "\e065";
}
.icon-smartphone:before {
  content: "\e066";
}
.icon-speech:before {
  content: "\e067";
}
.icon-speech-bubble:before {
  content: "\e068";
}
.icon-speedometer:before {
  content: "\e069";
}
.icon-star:before {
  content: "\e06a";
}
.icon-startup:before {
  content: "\e06b";
}
.icon-stopwatch:before {
  content: "\e06c";
}
.icon-support:before {
  content: "\e06d";
}
.icon-tag:before {
  content: "\e06e";
}
.icon-target:before {
  content: "\e06f";
}
.icon-target-1:before {
  content: "\e070";
}
.icon-tasks:before {
  content: "\e071";
}
.icon-tasks-1:before {
  content: "\e072";
}
.icon-team:before {
  content: "\e073";
}
.icon-team-1:before {
  content: "\e074";
}
.icon-teamwork:before {
  content: "\e075";
}
.icon-teamwork-1:before {
  content: "\e076";
}
.icon-teamwork-2:before {
  content: "\e077";
}
.icon-teamwork-3:before {
  content: "\e078";
}
.icon-telemarketer:before {
  content: "\e079";
}
.icon-telemarketer-1:before {
  content: "\e07a";
}
.icon-timeline:before {
  content: "\e07b";
}
.icon-timeline-1:before {
  content: "\e07c";
}
.icon-traffic:before {
  content: "\e07d";
}
.icon-trophy:before {
  content: "\e07e";
}
.icon-upload-file:before {
  content: "\e07f";
}
.icon-video-call:before {
  content: "\e080";
}
.icon-video-call-1:before {
  content: "\e081";
}
.icon-video-call-2:before {
  content: "\e082";
}
.icon-video-call-3:before {
  content: "\e083";
}
.icon-vision:before {
  content: "\e084";
}
.icon-visualization:before {
  content: "\e085";
}
.icon-woman:before {
  content: "\e086";
}
.icon-woman-1:before {
  content: "\e087";
}
.icon-woman-2:before {
  content: "\e088";
}
.icon-woman-3:before {
  content: "\e089";
}
.icon-woman-4:before {
  content: "\e08a";
}
.icon-woman-5:before {
  content: "\e08b";
}
.icon-worldwide:before {
  content: "\e08c";
}
.icon-worldwide-1:before {
  content: "\e08d";
}
.icon-yen:before {
  content: "\e08e";
}
