.creditly-wrapper {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    color: white;
}
.creditly-wrapper .credit-card-wrapper {
    padding:0;
}
.creditly-wrapper input.has-error {
	outline: none;
	border-color: #ff7076;
    border-top-color: #ff5c61;
    border: 1px solid #ff7076;
}
.creditly-wrapper label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    color:#212121;
    font-size:1.2em;
}
.creditly-wrapper .form-group {
  width: 100%;
  display: table;
}
.creditly-wrapper .card-type {
  margin-top: 10px;
}
.creditly-card-form .submit {
	outline:none;
	overflow: hidden;
	display: inline-block;
	visibility: visible!important;
	-webkit-font-smoothing: antialiased;
	border: none;
	padding: 1px;
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}

.creditly-card-form .submit span {
    display: block;
    position: relative;
    padding: 6px 50px 11px;
    letter-spacing: 3px;
    background: #1adeed;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
}
.creditly-card-form .submit span:hover{
	background: #fff;
    color: #212121;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.creditly-card-form .submit span:hover i{
	padding-left:1em;
}
.creditly-card-form .submit span i{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
@media (max-width: 480px){
	.creditly-card-form .submit span {
		padding: 6px 30px 11px;
		letter-spacing: 1px;
	}
}
@media (max-width: 414px){
	.creditly-card-form .submit span:hover i {
		padding-left: 0.5em;
	}
}
@media (max-width: 375px){
	.creditly-card-form .submit span {
		font-size: 1.3em;
	}
}
@media (max-width: 320px){
	.creditly-card-form .submit span {
		padding: 6px 10px 11px;
	}
}