
/* ==========================================================================
navigation section
========================================================================== */
.custom-navbar {
    background: #4B4B4B;
    margin-bottom: 0;
}
.custom-navbar .navbar-brand  {
  color: #00c6d7;
  font-weight: 600;
  font-size: 24px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #00c6d7;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
  }
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
.custom-navbar .nav li a:hover {
  	background: transparent;
    color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
.custom-navbar .nav li.active > a {
      color: #e0dddb;
    }
.custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar {
        background: #00c6d7;
        border-color: transparent;
    }
/*=====================================================*/
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
		background-color: transparent;
}
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
	  z-index:99;	
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: #005cac;
	  width: 100%;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
	  background-color: transparent;}
#brand{
	width: 230px;
    margin-top: 4%;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
	padding: 10px 10px;
	border-right: solid 4px #0082f4;
}
/*#menu2{
	background-image: url("../img/gallery/menu img1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top;
    background-size: cover;
    min-height: 100px;
	width:200px;
}*/
 .affix {
      top:0;
	  left: 0;
      width: 100%;
	  background: #005cac;
      z-index: 9999 !important;
  }
/* ==========================================================================
work section
========================================================================== */
#work {
    text-align: center;
}
#work .col-md-4 {
  padding: 28px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
#work .col-md-4:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work h3 {
  font-size: 18px;
  font-weight:bold;
}
/*==========================================================================
header
===========================================================================*/

#header{
	background: #ffffff; 
  height: 100vh;
/*  backgro/und-co/lor: #2F2727;
  backgr/ound-image: url(images/radial_fancy.png);*/
  /*background-position: 80% 20%;*/
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(radial, 80% 20%, 0, 80% 40%, 100, from(#ffffff), to(#ffffff));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(70% 45%, closest-corner, #ffffff, #ffffff);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(70% 45%, closest-corner, #ffffff, #ffffff);

  /* IE 10 */
  background: -ms-radial-gradient(70% 45%, closest-corner, #ffffff, #ffffff);
	}
#slider h1{
	text-transform:uppercase;
	color:white;
	line-height: 45px;
	}
/*==========================================================================
why 
===========================================================================*/
.whyimg{
	width: 34%;
	}
  .store_img {
    width: 24%;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .foot_title a {
    color: #999ba3;
  }
  .foot_title a:hover {
    color: #ffffff;
  }
  
  