/* ==========================================================================
footer section
========================================================================== */
footer {
  text-al/ign: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer p {
  /*padding-top: 5px;*/
  line-height: 16px;
  font-size: 13px;
}
.pay_container{
  height: 220px;
}
.footer_hr{
  width: 100%;
}
.footer_last{
  background-color: rgba(17, 18, 23, 0.91);
  color: white;
  border: 1px solid;
}
.download_img{
  width: 35%;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  paddi/ng: 6px;
}
.social-icon li a {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
  color: #fefefe;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-ali/gn: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.social-icon li a:hover {
  color: #00c6d7;
}

@media screen and (min-width: 992px) {
  @-moz-document url-prefix() {
    #portfolio .col-lg-4,
    #portfolio .col-md-4 {
      width: 33.333%;
    }
  }    
}

.footerleft {
   /*margin-top:50px;
   padding:0 36px;*/
   }

   .footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
  .footer-ul li { line-height:29px; font-size:12px;}
  .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
  .footer-ul i { margin-right:10px;}
  .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }
