.navbar {
  background: #E7E7E7;
}
.menu-button {
  padding: 25px 25px;
  float: left;
  cursor: pointer;
  transition: 0.7s;
 }

 .menu-button:hover {
    background: $primarycolour;
    color: white;
  }

.menu-open {
  background: $primarycolour;
  color: white;
}

.menu-right {
  padding: 15px 20px;
  float: right;
  cursor: pointer;
  transition: 0.7s;
}

.menu-right:hover {
    background: blue;
    color: white;
  }

.logo {
  paddi/ng: 10px;
}

.logo img{
	width: 200px;
	margin-left: 80px;
}

.fa {
  font-size: 20px;
}

.side-nav {
  position: fixed;
  color: black;
  z-index: 1200;
  margin-top: 75px;
  border-right: 1px solid #CCC;
  width: 250px;
  background: white;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: -25%;
  transition: 0.6s;
  font-size: 0;
}
  
  .side-nav ul li a {
    display: block;
    padding: 18px;
    border-bottom: 1px solid #ccc;
    color: black;
    transition: 0.4s ;
    cursor: pointer;
  }
  
  .side-nav ul li a:hover {
    text-decoration: none;
    //background: #444;
    background: black;
    color: white;
  }
  
  .side-nav .side-social {
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: -1px;
    }

    .side-nav .side-social ul {
      margin: 20px 0;
    }
    
    .side-nav .side-social ul li {
      display: inline-block;
      height: 40px;
      width: 40px;
      padding-top: 9px;
      border-radius: 50%;
      border: 1px solid #aaa;
      margin-right: 4px;
}

.menu-display {
  left: 0;
}

ul {
  list-style: none;
  padding: 0;
}

