
body {
    background: #ffffff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 400;
    position: relative;
  }
/*#animation22{
	background: -webkit-radial-gradient(circle, #00dac8, #00d1c0, #00ac9d, #00ac9d); /* For Safari 5.1 to 6.0 */
 /*   background: -o-radial-gradient(circle, #00dac8,#00d1c0, #00ac9d, #00ac9d); /* For Opera 11.6 to 12.0 */
   /* background: -moz-radial-gradient(circle, #00dac8,#00d1c0, #00ac9d, #00ac9d); /* For Fx 3.6 to 15 */
    /*background: radial-gradient(circle, #00dac8, #00d1c0, #00ac9d, #00ac9d); /* Standard syntax (must be last) */	   


html, body {
     width: 100%;
     overflow-x: hidden;
  }

h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  line-height: 19px;
  font-size: 15px;
}

a {
  outline: none !important;
}

hr {
  width: 180px;
  border-color: #CCC;
}

.section-title strong {
	color: #00C6D7;
  	font-size: 56px;
}

.section-title h1 {
	font-size: 24px;
}

.section-title {
  padding-bottom: 32px;
}

.medium-icon {
  font-size: 32px !important;
}

#work,#about, #team, 
#portfolio, #pricing {
  padding-top: 80px;
  padding-bottom: 100px;
}


/* ==========================================================================
preloader section
========================================================================== */
/*.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: none repeat scroll 0 0 #fff;
}
.sk-spinner-circle.sk-spinner {
  width: 22px;
  height: 22px;
  position: relative; }
.sk-spinner-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
.sk-spinner-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #00c6d7;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts *
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
.sk-spinner-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-spinner-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-spinner-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-spinner-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-spinner-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-spinner-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-spinner-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-spinner-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-spinner-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-spinner-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-spinner-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-spinner-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-spinner-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-spinner-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-spinner-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-spinner-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-spinner-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-spinner-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-spinner-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-spinner-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-spinner-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-spinner-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

*/
/* ==========================================================================
navigation section
========================================================================== */
.custom-navbar {
    background: #4B4B4B;
    margin-bottom: 0;
}
.custom-navbar .navbar-brand  {
  color: #00c6d7;
  font-weight: 600;
  font-size: 24px;
}
.custom-navbar .navbar-brand .navbar-toggle {
    background: #00c6d7;
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
    }
.custom-navbar .nav li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    }
.custom-navbar .nav li a:hover {
  	background: transparent;
   color: #eeeeee;
}
.custom-navbar .nav > li > a:focus {
  background-color: transparent;
  color: #ffffff;
  outline: none;
}
.custom-navbar .nav li.active > a {
      color: #e0dddb;
    }
.custom-navbar .navbar-toggle {
        border: none;
        padding-top: 10px;
    }
.custom-navbar .navbar-toggle .icon-bar {
        background: #00c6d7;
        border-color: transparent;
    }

/*----------Nav bar  toggle animation css ------------------*/
    .navbar-toggle .icon-bar:nth-of-type(2) {
        top: 1px;
    }

    .navbar-toggle .icon-bar:nth-of-type(3) {
        top: 2px;
    }

    .navbar-toggle .icon-bar {
        position: relative;
        transition: all 500ms ease-in-out;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 6px;
        transform: rotate(45deg);
    }

    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
    

@media screen and (min-width: 768px) {
  .pmd-floating-action{
    display: none;
  }
}


/* ==========================================================================
home section
========================================================================== */
#home {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  text-transform: uppercase;
  height: 500px;
}
#home h1 {
  font-size: 40px;
      line-height: 1.3;
}
#home h3 {
  font-size: 14px;
}
#home hr {
  width: 240px;
}
#home .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #00c6d7;
  border-color: transparent;
}
#home .btn-danger {
  background: #00c6d7;
  border-color: transparent;
}
#home .btn-danger:hover {
	border: 4px solid #ffffff;
  	border-radius: 0;
	background: transparent;
  	color: #ffffff;
}
.anim_image {
    margin-top: -660px;
    width: 100%;
    margin-left: 582px;
    display: inline;
  /*  position: absolute;*/
}
.adv_wrap p {
  line-height: 18.5px;
  font-size: 14px;
}
.adv_img {
  width: 60%;
}
.img_text {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.dwn_icon-g {
  width: 23%; 
  margin-left: 953px; 
  margin-top: -28px;
  padding-bottom: 10px;
}
.dwn_icon-a {
  width: 23%; 
  margin-left: 779px; 
  margin-top: -58px;
  padding-bottom: 10px;
}

/* ==========================================================================
work section
========================================================================== */
#work {
    text-align: center;
}
#work .col-md-4 {
  padding: 28px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
#work .col-md-4:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work h3 {
  font-size: 18px;
}

/* ==========================================================================
video section
========================================================================== */
#video {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
#video .container{
  width:90%;
  padding:0px 20px;
}
#video h2 {
    padding-bottom: 12px;
}
.video_carousel{
  background: rgb(96, 125, 139);
  height: 670px;
}
.carousel-control.left,.carousel-control.right{
  width:5%;
  background:none;
}
.carousel-control.left{
  lef/t:-5%;
}
.carousel-control.right{
  ri/ght:-5%;
}
.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
  background-color: rgba(59, 59, 59, 0.06);
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{
  position: static !important;
  width: 49%;
  height: 420px;
  margin-top: 35px;
}
.embed-responsive-16by9 .testi_vdeo {
 /* width: 30%;
  height: 300px;*/
  padding-bottom: 10px !important;
}
/* ==========================================================================
about section
========================================================================== */
#about {
  background: #ffffff;
  color: #3B3B3B;
}

/* ==========================================================================
team section
========================================================================== */
/*#team {
  text-align: center;
}
#team h3 {
  color: #00c6d7;
  font-size: 14px;
  font-weight: bold;
}
#team .col-md-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#team .team-wrapper {
  overflow: hidden;
  position: relative;
}
#team .team-des {
  background-color: rgba(00,00,00,0.6);
  position: absolute;
  color: #ffffff;
  opacity: 0;
  max-width: 500px;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#team .team-des:hover {
 opacity: 1;
}
#team img {
  margin: 0 auto;
}

#team .social-icon li a {
  color: #fff;
}

#team .social-icon li a:hover {
  color: #00c6d7;
}
*/
.img-travel {
    width: 710px;
    position: absolute;
    margin-top: -107px;
    margin-left: -153px;
}
.img-gift {
    float: right;
    position: absolute;
    width: 710px;
    margin-top: -115px;
    margin-left: -20px;
}
.img-bqr {
    position: absolute;
    width: 710px;
    margin-top: -140px;
    margin-left: -153px;
}
.feature_division {
    position: absolute;
    width: 100%;
    border: 1px solid #efefef;
}
.featre_pad {
  padding-top: 35px;
}
.trvl_head {
  padding-bottom: 35px;
}
/* ==========================================================================
portfolio section
========================================================================== */
#testimonial {
  background-color: #f5f5f5 !important;
  text-align: center;
  }
#testimonial .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.testi_vdeo {
  padding-bottom: 30.25%;
}
.embed-responsive-16by9 .testi_vdeo {
    padding-bottom: 30.25%;
}

#quote-carousel .carousel-control {
      background: none;
      color: #CACACA;
      font-size: 2.3em;
      text-shadow: none;
      margin-top: 30px;
  }
  #quote-carousel .carousel-indicators {
      position: relative;
      right: 50%;
      top: auto;
      bottom: 0px;
      margin-top: 20px;
      margin-right: -19px;
  }
  #quote-carousel .carousel-indicators li {
      /*wid/th: 50px;
      heig/ht: 50px;*/
      cursor: pointer;
      border: 1px solid #ccc;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      opacity: 0.4;
      overflow: hidden;
      transition: all .4s ease-in;
      vertical-align: middle;
  }
  #quote-carousel .carousel-indicators .active {
      /*wi/dth: 128px;
      hei/ght: 128px;*/
      opacity: 1;
      transition: all .2s;
  }
  .item blockquote {
      border-left: none;
      margin: 0;
  }
  .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
  }
  .log_drp{
    cursor: pointer;
    border: 2px solid #19f1de;
    margin-top: -2px;
  }
  .log_drp ul li {
    padding: 0px !important;
  }
  #testimonial iframe {
    width: 49%;
    height: 420px;
  }

/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 { color: #151515; }

.section-container-image-bg .divider-1 .line { border-color: #fff; opacity: 0.8; }

.section-description { margin-top: 60px; padding-bottom: 10px; }

.section-description p { margin-top: 20px; padding: 0 120px; }
.section-container-image-bg .section-description p { opacity: 0.8; }


/***** Divider *****/

.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 200px; margin: 0 auto; border-bottom: 1px solid #ddd; }


/***** Testimonials *****/

.testimonials-container { padding-bottom: 70px; }

.testimonial-list { margin-top: 30px; text-align: center; }

.testimonial-list .testimonial-image img {
  max-width: 160px;
  -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .testimonial-text { margin-top: 30px; }
.testimonial-list .testimonial-text p { opacity: 0.8; }

.testimonial-list .testimonial-text a { color: #fff; border-bottom: 1px dotted #fff; }
.testimonial-list .testimonial-text a:hover, 
.testimonial-list .testimonial-text a:focus { color: #fff; border: 0; }

.testimonial-list .nav-tabs { margin-top: 30px; border: 0; }
.testimonial-list .nav-tabs li { float: none; display: inline-block; margin-left: 10px; margin-right: 10px; }

.testimonial-list .nav-tabs li a {
    width: 16px; height: 16px; margin: 0; padding: 0;
    background: none; border: 1px solid #fff; border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.testimonial-list .nav-tabs li a:hover {
  background: #fff; background: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff; border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li.active a,
.testimonial-list .nav-tabs li.active a:focus { background: #42bfc2; border: 0; }

/***** MEDIA QUERIES *****/

@media (min-width: 992px) and (max-width: 1199px) {
	.anim_image{
		margin-left: 452px;
		margin-top: -569px;
	}
	.dwn_icon-g{
		    margin-left: 745px;
	}
	.dwn_icon-a{
		margin-left: 622px;
		margin-top: -48px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

  .section-description p { padding: 0; }
  
  .footer-social a { margin-right: 15px; }
  .footer-social i { font-size: 22px; }

}

@media (max-width: 767px) {
  
  .section-description p { padding: 0; }
    
    footer { text-align: center; }
    .footer-social { padding-top: 30px; text-align: center; }
    .footer-social a { margin: 0 10px; }

}

@media (max-width: 415px) {
  
  h1, h2 { font-size: 32px; }

}

/*#portfolio img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}
#portfolio img:hover {
  opacity: 0.5;
}
/* FILTER CSS *
.filter-wrapper {
    width: 100%;
    margin: 40px 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    color: #999999;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li .selected,
.filter-wrapper li a:focus,
.filter-wrapper li a:hover {
    color: #00c6d7;
    outline: none;
  }

/* ISOTOPE BOX CSS */
.iso-box-section {
    width: 100%;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
}


/* ==========================================================================
contact section
========================================================================== */
#contact {
  background: #3B3B3B url('../images/contact-bg.jpg') no-repeat center center;
  background-size: cover;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*#contact h2 {
  padding-bottom: 20px;
}*/
#contact h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
#contact .medium-icon {
  padding-top: 10px;
  padding-right: 10px;
}
#contact .contact-info div {
  padding-top: 14px;
  padding-bottom: 14px;
}
#contact form {
  padding-top: 60px;
}
#contact .form-control {
  border: 2px solid #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact input {
  height: 40px;
}
#contact input[type="submit"] {
  background: #00c6d7;
  border: 3px solid #00c6d7;
  letter-spacing: 1px;
  margin-top: 18px;
  height: 50px;
  color: #ffffff;
}
#contact input[type="submit"]:hover {
  color: #000000;
}


/* ==========================================================================
footer section
========================================================================== */
/*footer {
  text-al/ign: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #333333;
  color: #ffffff;
}*/
footer p {
  /*padding-top: 5px;*/
  line-height: 20px;
  font-size: 14px;
}
/*.pay_container{
  height: 220px;
}*/
/*.app_download {
  height: 20px;
}*/
.abt_cmpny p a {
  color: #ffffff;
  /*font-size: 16px;*/
}
.footer_first {
  background: #f5f5f5;
  padding: 30px 0;
}
.footer_first .pay_container hr{
  margin-left: 0;
}
.pay_container{
  padding-left: 10px;
  padding-right: 10px;
  color: #4a4747;
}
.pay_container p a {
  color: #333232;
}
.pay_container h4 {
  color: #333232;
}
.footer_last{
  background-color: hsl(208, 100%, 34%);
  color: white;
  border: 1px solid;
  padding: 10px 0;
}
.footer_last p {
  font-size: 14px;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  paddi/ng: 6px;
}
.social-icon li a {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.09);
  color: #fefefe;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-ali/gn: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.social-icon li a:hover {
  color: #00c6d7;
}
#mrchrgline {
  width: 174px;
}
#mbillline {
  width: 209px;
}
#dbillline {
  width: 184px;
}
#lbillline {
  width: 232px;
}
#ebillline {
  width: 246px;
}
#gbillline {
  width: 180px;
}
#ibillline {
  width: 244px;
}

@media screen and (min-width: 992px) {
  @-moz-document url-prefix() {
    #portfolio .col-lg-4,
    #portfolio .col-md-4 {
      width: 33.333%;
    }
  }    
}

@media screen and (max-width: 769px) {
  .pay_wrap .landlne {
    margin-top: -106px;
  }
  .pay_wrap {
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 376px) {
  .app_wrap p {
    font-size: 12px;
  }
}

.footerleft {
   /*margin-top:50px;
   padding:0 36px;*/
   }

   .footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
  .footer-ul li { line-height:29px; font-size:12px;}
  .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
  .footer-ul i { margin-right:10px;}
  .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

/* Propeller css for Floating Action Button*/
    .pmd-floating-action { bottom: 0; position: fixed;  margin:1em;  right: 0; }
    .pmd-floating-action-btn { display:block; position: relative; transition: all .2s ease-out;}
    .pmd-floating-action-btn:before { bottom: 10%; content: attr(data-title); opacity: 0; position: absolute; right: 100%; transition: all .2s ease-out .5s;  white-space: nowrap; background-color:#fff; padding:6px 12px; border-radius:2px; color:#333; font-size:12px; margin-right:5px; display:inline-block; box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, 0.18), 0px 2px 2px -7px rgba(0, 0, 0, 0.15);}
    .pmd-floating-action-btn:last-child:before { font-size: 14px; bottom: 25%;}
    .pmd-floating-action-btn:active, .pmd-floating-action-btn:focus, .pmd-floating-action-btn:hover {box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);}
    .pmd-floating-action-btn:not(:last-child){ opacity: 0; -ms-transform: translateY(20px) scale(0.3); transform: translateY(20px) scale(0.3); margin-bottom:15px; margin-left:8px; position:absolute; bottom:0;}
    .pmd-floating-action-btn:not(:last-child):nth-last-child(1) { transition-delay: 50ms;}
    .pmd-floating-action-btn:not(:last-child):nth-last-child(2) { transition-delay: 100ms;}
    .pmd-floating-action-btn:not(:last-child):nth-last-child(3) { transition-delay: 150ms;}
    .pmd-floating-action-btn:not(:last-child):nth-last-child(4) { transition-delay: 200ms;}
    .pmd-floating-action-btn:not(:last-child):nth-last-child(5) { transition-delay: 250ms;}
    .pmd-floating-action-btn:not(:last-child):nth-last-child(6) { transition-delay: 300ms;}
    .pmd-floating-action:hover .pmd-floating-action-btn, .menu--floating--open .pmd-floating-action-btn { opacity: 1; -ms-transform: none; transform: none; position:relative; bottom:auto;}
    .pmd-floating-action:hover .pmd-floating-action-btn:before, .menu--floating--open .pmd-floating-action-btn:before { opacity: 1;}
    .pmd-floating-hidden{ display:none;}
    .pmd-floating-action-btn.btn:hover{ overflow:visible;}

    .pmd-floating-action-btn .ink{ width:50px; height:50px;}
    
/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 440px) {
  #home {
    padding-top: 320px;
    padding-bottom: 320px;
  }
  #home h1 {
    font-size: 22px;
  }
  #home h3 {
    font-size: 12px;
  }
  #myNavbar{
	float: left;
  }
}

@media screen and (max-width: 1025px) {
  .embed-responsive-16by9 .intro_vdo {
    padding-bottom: 56.25% !important;
  }
  .testi_vdeo {
    padding-bottom: 40.25% !important;
  }
  #testimonial iframe {
    width: 62%;
    height: 364px;
  }
  .abt_cmpny p {
    font-size: medium;
  }
  .anim_image {
    margin-top: -580px;
    width: 100%;
    margin-left: 400px;
  }
  .dwn_icon-g {
    margin-left: 694px;
    margin-top: -70px;
  }
  .dwn_icon-a {
    margin-left: 555px;
    margin-top: -48px;
  }
  #mrchrgline {
    width: 150px;
  }
  #mbillline {
    width: 184px;
  }
  #dbillline {
    width: 157px;
  }
  #lbillline {
    width: 200px;
  }
  #ebillline {
    width: 217px;
  }
  #gbillline {
    width: 154px;
  }
  #ibillline {
    width: 214px;
  }
}

@media screen and (max-width: 769px) {
  .anim_image{
    width: 560px;
    margin-left: -122px;
    margin-top: -20px !important;
  }
  #brand {
    width: 114px;
    margin-top: 15%;
  }
  .embed-responsive-16by9 {
      height: 400px;
      padding-bottom: 26.25%;
  }
  #testimonial iframe {
    width: 60%;
    height: 400px;
  }
  .bill_pay{
    position: absolute;
    margin-top: 255px;
  }
  .gift_3 {
    margin-left: 95px !important;
  }
  .nav_link{
      margin-right: -15px;
    }
    .dwn_icon-a {
      margin-left: 60px;
      margin-top: -39px;
      width: 100px;
    }
    .dwn_icon-g{
             margin-left: 172px;
    margin-top: 18px;
    width: 100px;
    }
    
    .img-gift{
      width: 600px;
      margin-top: -25px;
      margin-left: -86px;
    }
    .img-travel{
      width: 560px;
      margin-top: -65px;
      margin-left: -100px;
    }
    .img-bqr{
      width: 560px;
      margin-top: -18px;
      margin-left: -118px;
    }
	.navbar-right{
		float: right!important;
    margin-right: -35px;
	}
  .adv_wrap {
    margin-left: -35px;
  }
  .gift_1 {
    margin-top: 15px;
  }
  .it_wrap2 {
    margin-top: 62px !important;
  }
  .it_wrap1 {
    margin-top: 62px !important;
  }
}

@media screen and (max-width: 426px) {
  #brand {
    width: 145px;
    padding-bottom: 12px;
    margin-top: 2%;
    margin-left: 2%;
  }
  .anim_image {
    display: none !important;
  }
  .img-travel{
	  display: none;
  }
  .img-gift{
	  display: none;
  }
  .img-bqr{
	  display: none;
  }
  .dwn_icon-a {
     display:none;
  }
  .dwn_icon-g{
     display:none;
  }
	
	.adv_wrap{
		margin-top: 0px;
	}
  .clpse_btn span {
    background-color: #ffffff;
  }
  .log_drp {
    display: none !important;
  }
  .intro_vdo iframe {
    width: 70%;
    height: 375px;
  }
  #testimonial iframe {
    width: 70% !important;
  }
  .gift_3 {
    margin-left: 0px !important;
  }
  .app_download .app_wrap{
    font-size: small;
  }
  .footer_first .pay_container hr {
    margin-left: 106px;
  }
  .bill_pay {
    position: static;
    margin-top: 25px;
  }
  .pay_wrap .landlne {
    margin-top: 0;
  }
  .navbar-right {
    margin-left: -12px !important;
  }
  .img_text {
    width: 150px;
  }
  .it_wrap1 {
    margin-left: 0px !important;
    margin-top: 130px;
  }
  .it_wrap2 {
    margin-top: 130px;
  }
  footer p {
    font-size: 15px;
  }
  #mrchrgline {
    width: 150px;
    margin-left: 129px;
  }
  #mbillline {
    width: 184px;
    margin-left: 110px;
  }
  #dbillline {
    width: 157px;
    margin-left: 125px;
  }
  #lbillline {
    width: 200px;
    margin-left: 113px;
  }
  #ebillline {
    width: 217px;
    margin-left: 95px;
  }
  #gbillline {
    width: 154px;
    margin-left: 127px;
  }
  #ibillline {
    width: 214px;
    margin-left: 98px;
  }
  #fea-travl {
    padding: 0px 0 50px 10px !important;
  }


}

@media screen and (max-width: 376px) {
  .footer_first .pay_container hr {
    margin-left: 82px;
  }
  .app_slider {
    width: 48%;
  }
  .abt_cmpny p {
    font-size: smaller;
  }
  #mrchrgline {
    width: 150px;
    margin-left: 102px;
  }
  #mbillline {
    width: 184px;
    margin-left: 87px;
  }
  #dbillline {
    width: 157px;
    margin-left: 100px;
  }
  #lbillline {
    width: 200px;
    margin-left: 80px;
  }
  #ebillline {
    width: 217px;
    margin-left: 70px;
  }
  #gbillline {
    width: 154px;
    margin-left: 101px;
  }
  #ibillline {
    width: 214px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 321px) {
  .abt_cmpny p {
    font-size: xx-small;
  }
  .app_wrap p {
    font-size: x-small;
  }
  .footer_first .pay_container hr {
    margin-left: 55px;
  }
  .footer_last p {
    font-size: smaller;
  }
  .it_wrap1 {
    margin-left: -40px !important;
  }
  .img_text {
    width: 143px;
  }
  #mrchrgline {
    width: 150px;
    margin-left: 76px;
  }
  #mbillline {
    width: 184px;
    margin-left: 59px;
  }
  #dbillline {
    width: 157px;
    margin-left: 72px;
  }
  #lbillline {
    width: 200px;
    margin-left: 50px;
  }
  #ebillline {
    width: 217px;
    margin-left: 42px;
  }
  #gbillline {
    width: 154px;
    margin-left: 75px;
  }
  #ibillline {
    width: 214px;
    margin-left: 45px;
  }
}

/*------------- Scrollbar design--------------------*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.imprt-img {
  border: 2px solid #efefef;
  border-radius: 50%;
}
.it_wrap1 {
  text-align: center; 
  margin-top: 70px; 
  margin-right: 40px; 
  color: #0c0c0c; 
  margin-left: -10px;
}
.it_wrap2 {
  text-align: center; 
  margin-top: 62px; 
  color: #0c0c0c; 
  margin-left: 15px;
}

#login_pwd_eye {
  float: right; 
  margin-top: -25px;
  margin-right: 8px;
}

/*Responsive for ipad-pro*/

@media only screen and (max-width: 1367px) and (max-height: 1025px) {
  #header {
    height: 85vh;
  }
  .anim_image {
    margin-top: -652px;
  }
  .it_wrap1 {
    margin-top: 160px;
  }
  .it_wrap2 {
    margin-top: 160px;
  }
}

@media only screen and (max-width: 1367px) {
	.adv_wrap {
		margin-top: -153px;
	}
}
@media only screen and (max-width: 768px) {
	.adv_wrap {
		margin-top: -68px;
	}
}
@media only screen and (max-width: 768px) {
	#works {
		margin-top: 140px;
	}
}