@charset "utf-8";

body {
	font-family: 'Ubuntu', sans-serif;
	background: url(img/bg.jpg);
}

.topline {
	height: 6px;
	background: #035098;
}

footer {
	width: 100%;
	background: #fff9f9;
	text-align: center;
	padding-top: 7px;
	min-height: 35px;
}

footer a {
	padding-right: 8px;
	padding-left: 8px;
	color: #000000;
	border-right: #e6e6e6 solid 1.5px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
}

#mycarousel {
	margin-top: -20px;
	position: absolute;
	z-index: -999;
}

#mycarousel p {
	font-size: 25px;
	font-family: 'Ubuntu', sans-serif;
}

/* Material Design Form Inputs */
.form {
	
}

.form__wrapper {
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-right: 1em;
	width: 38%;
	vertical-align: top;
}

.form__input {
	display: block;
	position: relative;
	margin-top: 1em;
	width: 100%;
	box-sizing: border-box;
	color: #7e7e7e;
	font-size: 1.6rem;
	outline: 0; //
	background: transparent;
	border: none;
	border-bottom: solid 1px #ddd;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%,
		#2196f3 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,
		#2196f3 4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;

	/**
	 * Remove default box-shadow for required pseudo classes 
	 */
	&:
	required
	{
	box-shadow
	:
	none;
}

/**
	 *  When input contain a class of .error 
	 */
&
.error {
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%,
		#f44336 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,
		#f44336 4%);
	background-position: 0 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
}

&
:focus {
	background-position: 0 0;
	color: #444;
	-webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

}

/* Form Label */
.form__label {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
	color: #999;
}

/* Form Label Content */
.form__label-content {
	position: absolute;
	-webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

/**
 * 1. When input is focused move the label to top
 * 2. when the input field has a value move the label to top
 */
.form__input:focus ~ .form__label .form__label-content,.form--filled .form__label-content
	{
	font-size: 1.4rem;
	-webkit-transform: translate3d(0, -65%, 0);
	-moz-transform: translate3d(0, -65%, 0);
	transform: translate3d(0, -65%, 0);
}

/**
 * Error Styles
 * .error class generated by jquery.validate.min.js plugin
 */
.error {
	font-size: 1.4rem;
	color: #f44336;
	display: block;
}

/* Basic Buttons */
.btn {
	display: inline-block;
	padding: 0.6em 1.5em;
	border-radius: 2px;
	background-color: #ec2029;
	color: #fff;
	border: 0;
	outline: none;
	cursor: pointer;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0
		rgba(0, 0, 0, 0.12);
	transition: all 0.2s ease;
	&:
	focus
	,
	&
	:
	hover
	{
	
	
		
	
	background-color
	:
	
	 
	
	darken(
	#2196f3
	,
	5%
	);
}

}

/* Modal Styles */
.modal {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	padding: 1em;
	z-index: 999;
	border-radius: 2px; //
	display: none; //
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-transition: transform 0.3s
		cubic-bezier(0.000, 0.795, 0.000, 1.000);
	-moz-transition: transform 0.3s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	-ms-transition: transform 0.3s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	-o-transition: transform 0.3s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	transition: transform 0.3s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

/* Close icon style for model */
.modal--close {
	display: block;
	float: right;
	cursor: pointer;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 1.6em;
	color: #888;
}

.modal--open { //
	display: block; //
	opacity: 1.0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/*-----------signup form--------------*/
#signup h3 {
	font-family: 'Ubuntu', sans-serif;
	margin-left: 30px;
}

#signup {
	-webkit-box-shadow: 1px 3px 27px -2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 3px 27px -2px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 3px 27px -2px rgba(0, 0, 0, 0.75);
	background: #FFFFFF;
	height: 35em;
	margin-bottom: 3.2%;
}

#signup .form__wrapper {
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-right: 1em;
	width: 80%;
	vertical-align: top;
	margin-left: 30px;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 2px;
}

#signup .form__input {
	display: block;
	position: relative;
	margin-top: .6em;
	padding: 0.1em;
	width: 100%;
	box-sizing: border-box;
	color: #7e7e7e;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2rem;
	outline: 0; //
	background: transparent;
	border: none;
	border-bottom: solid 1px #ddd;
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	-o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%,
		#2196f3 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,
		#2196f3 4%);
	background-position: -400px 0;
	background-size: 400px 100%;
	background-repeat: no-repeat;
	&:
	required
	{
	box-shadow
	:
	none;
}

/* Basic Buttons */
#signup .btn {
	display: inline-block;
	padding: 0.6em 1.5em;
	border-radius: 2px;
	background-color: #2196f3;
	color: #fff;
	border: 0;
	outline: none;
	cursor: pointer;
	font-family: inherit;
	font-weight: 400;
	font-size: 1.6rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0
		rgba(0, 0, 0, 0.12);
	transition: all 0.2s ease;
	&:
	focus
	,
	&
	:
	hover
	{
	
	
		
	
	background-color
	:
	
	 
	
	darken(
	#2196f3
	,
	5%
	);
}

&
.btn-block {
	width: 100%;
	display: block;
}

}

/* Modal Styles */
.modal {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	padding: 1em;
	z-index: 999;
	border-radius: 2px; //
	display: none; //
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	-webkit-transition: transform 0.3s
		cubic-bezier(0.000, 0.795, 0.000, 1.000);
	-moz-transition: transform 0.3s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	-ms-transition: transform 0.3s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	-o-transition: transform 0.3s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	transition: transform 0.3s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}

/* OLD CSS STYLE */
nav {
	background: #337ab7;
	border-radius: 0px !important;
}

#navbar ul li a {
	color: #fff !important;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: bold;
}

#navbar ul li a:hover {
	background: #fff !important;
	color: #337ab7 !important;
}

#navbar ul .open a {
	color: #337ab7 !important;
	background: #fff !important;
}

#navbar ul .active a {
	background: #fff !important;
	color: #337ab7 !important;
}

#navbar ul li ul li a {
	color: #337ab7 !important;
}

#navbar ul li ul li a:hover {
	background: #337ab7 !important;
	color: #fff !important;
}

.navbar-brand {
	color: #fff;
	font-size: 24px;
	letter-spacing: 2px;
}

.navbar-brand:hover {
	color: #fff;
	cursor: pointer;
}

.p-legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333333;
	border: 0;
}

.p-highlight {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: inherit;
	color: #333333;
	border: 0;
}

.glyphicon {
	margin-right: 10px;
}

.panel-body {
	padding: 0px;
}

.panel-body table tr td {
	padding-left: 15px
}

.panel-body .table {
	margin-bottom: 0px;
}

.align-center {
	text-align: center;
}

.center-content {
	float: none;
	margin-left: auto !important;
	margin-right: auto !important;
}

.static-textarea {
	resize: none;
}

.img-background {
	height: 50px;
	width: 50px;
	background-size: cover;
	background-position: center top;
	overflow: hidden;
}

.customer-content-body {
	padding: 25px;
	font-size: 12px;
	width: 210px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.customer-img-background {
	height: 160px;
	width: 160px;
	background-size: cover;
	background-position: center top;
	overflow: hidden;
}

.customer-content {
	letter-spacing: 1px;
	width: 160px;
	text-align: center;
}

.vertical-align-center {
	vertical-align: middle !important;
}

th,td,label {
	font-size: 12px;
}

.table-hover:hover {
	color: #fff !important;
	background-color: #337ab7 !important;
}

.popup {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	color: #000;
}

.popupBody {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 10px;
	background: #fff;
	box-sizing: border-box;
	padding: 15px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	max-height: 90%;
	overflow-y: auto;
}

.headerFilter {
	margin-right: 15px;
	border: 1px solid #337ab7;
	padding: 10px;
	cursor: pointer;
}