.time{
	/* float: left;
    margin-top: 25px; */
    margin-left: 10px;
    margin-right: 12px;
}
.rups{
	float: left;
	margin-top: 25px;
}
.line1{
	display:none;
}
.line{
	display:none;
}
.chair{
	margin-top: 10px;
    float: left;
    margin-right: 10px;
}
#icon-body ul
{
  display:flex;  
  list-style:none;
}
.travel{
	background:url(/resources/images/ti.png);
	height: 10px;
	margin-top:-6px;
    margin-left: -15px;
    margin-right: -15px;	
}
#icon-body ul li{
	margin-right: 20%;
}

.foo{padding-left: 30px !important;}

.book-tbl {
  	position: relative;
  	display: inline-flex;
 	margin-top: 10px;/* 
 	padding-bottom: 20px; */
}

.book-tbl ul{
	width: 216px;
	margin-left: -38px;  
}

.book-tbl ul li {
	display: block;
	float: left;
	margin: 0 5px;
}
.book-tbl ul li img{
	margin-left: 135px;
}

.book-tbl label {
	display: inline-block;
	position: relative;
	width: 25px;
	color: #fff;
	background: white;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s;
    border: 1px solid #b9b9b9;
	pointer-events: auto;

}
.seat{
	height: 25px;
}


.book-tbl label:hover {
	background: #00B4F1;
}
label:active {
	transition: 0; 
    -webkit-transition: 0;
	-webkit-filter: brightness(.8);
}

.book-tbl input {
	display: none;
}

.book-tbl input:checked + label {
	background: green !important;
	color: #fff;
}

.book-tbl input:checked + label {
	animation: boom .5s;
    -webkit-animation: boom .5s;
}

@keyframes boom {
	25% { transform: scale(1.25); }
}
@-webkit-keyframes boom {
	25% { -webkit-transform: scale(1.25); }
}

.book-tbl input:disabled+ label {
	color: #fff;
	background: #f00;
}
.book-tbl0{
	margin-top: 5%;
}
.book-tbl2{
	margin-top: 15%;
}

.Unavailable{ min-height: 25px; width:25px; background:grey; float: left; margin-right: 10px;}
.Available{ min-height: 25px; width:25px; background: white;float: left; margin-right: 10px;}
.Ladies{ min-height: 25px; width:25px; background:green;float: left; margin-right: 10px;}

.book-tbl3{
	margin-top: 10px;
	background: white;
	padding: 20px;
}
.form-control{
	width: 86%; 
	border: transparent;
	border-bottom: gray;
	border-style: solid;
	border-width: 1.8px; 
	font-family: 'Ubuntu', sans-serif; 
	padding-left: 0; 
	height: 55px; 
	margin-top: -19px; 
	font-weight: bold; 
	color: #928F8F; 
	box-shadow: none; 
	border-radius: 0;
}

#sts{
	margin-top: 20px;	
}

/*===========Medium devices (big landscape tablets, laptops, and desktops,=============*/
@media all and (max-width: 992px) {
	.line1{display:inherit;}
}
/*===================Small devices=====================*/
@media all and (max-width: 768px) {
	
}
/*===================Extra small devices (phones)=====================*/
@media all and (max-width: 480px) 
{
	
}

#bus{
	background: #FFFFFF;	
	margin-top: -80px;
	-webkit-box-shadow: -1px 1px 47px -7px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: -1px 1px 47px -7px rgba(0, 0, 0, 0.67);
	box-shadow: -1px 1px 47px -7px rgba(0, 0, 0, 0.67);
    padding: 15px;
}
#bus{
	background: #FFFFFF;
	-webkit-box-shadow: -1px 1px 47px -7px rgba(0, 0, 0, 0.67);
	-moz-box-shadow: -1px 1px 47px -7px rgba(0, 0, 0, 0.67);
	box-shadow: -1px 1px 47px -7px rgba(0, 0, 0, 0.67);
    padding: 15px;
}
.foo{
	padding-left: 33px !important;
}
 .group_2 img{
	  width: 25px;
	  margin-top: -38px;
      position: absolute;
}
.group_2 {
	position: relative;
	margin-bottom: 20px;
}

.group_2 input {
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #757575;
}
