/* your styles go here */

      .card {
        border: 0;
        border-radius: 0.1875rem;
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
      }
      .card-login {
        border-radius: 0.25rem;
        padding-bottom: 0.7rem;
        max-width: 400px;
      }
      .card-plain {
        background: rgba(255, 255, 255);
        box-shadow: none;
        padding: 41px 32px;
        /*margin-left: 398px;
        margin-bottom: 106px;*/
      }
      .card-plain .content {
        padding-left: 0;
        padding-right: 0;
      }
      .card-login .footer {
        padding: 8px;
      }
      .text-center {
        text-align: center !important;
      }
      .fgt-pwd {
        font-size: 13px;
      }