
/*------Prepaid ------------------------------- */

.group_1 {
	position: relative;
}

input {
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 86%;
	border: none;
	border-bottom: 1px solid #757575;
}

input:focus {
	outline: none;
}

/* LABEL ======================================= */

label {
	color: #999;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 17px;
	top: 6px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label{
	display: none;
}

/* active state */
input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {from {
	background:#5264AE;
}

	to {
		width: 0;
		background: transparent;
	}

}
@-moz-keyframes inputHighlighter {from {
	background:#5264AE;
}

	to {
		width: 0;
		background: transparent;
	}

}
@keyframes inputHighlighter {from {
	background:#5264AE;
}

	to {
		width: 0;
		background: transparent;
	}
}
}