.rup	{
	color: #b9b9b9;
    margin-left: 8px;
    margin-right: 15px !important;
}
.error{
	color: red;
    font-size: 9pt;
    margin-left: 7%;
    position: absolute;
	z-index: 99;
}
/*--------------------dropdown---------------------------*/

.dropdown {
	position: relative;
	display: inline-block;
/*	z-index: 999;*/
}

.dropdown-content {
	display: none;
	position: absolute;
	    z-index: 999;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 220px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	/*margin-top: 50px;*/
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
.topline{
	height: 6px;
    background: #17bcc8;
	}
.menutx{
    margin-top: 4px;
    margin-bottom: 0;
	}
.menufa1{
	float: left;
	}
	.menufa2{
	    font-size: 13pt;
		margin-top: 5px;
		float: left;
		}
/*form==============================*/
.group_1 {
	position: relative;
	margin-bottom: 20px;
	margin-left: 4%;
	}
	input {
		font-size: 18px;
		font-family: 'Ubuntu', sans-serif;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 80%;
		border: none;
		border-bottom: 1px solid #757575;
		}
		input:focus {
			outline: none;
			}
/* LABEL ====== */
/*label {
	color: #999;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	}
/* active state */
input:focus ~ label, input:valid ~ label {
	top: -13px;
	font-size: 14px;
	color: #5264AE;
	}
/* BOTTOM BARS ================================= */
.bar {
	position: relative;
	display: block;
	width: 80%;
	margin-left: 30px;
	}
	.bar:before, .bar:after{
		content: '';
		height: 2px;
		width: 0;
		bottom: 1px;
		position: absolute;
		background: #5264AE;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
		}
		.bar:before {
			left: 50%;
			}
			.bar:after {
				right: 50%;
				}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
	}
	.sel1{
	    width: 80%;
		border: transparent;
		border-bottom: gray;
		border-style: solid;
		border-width: 1.8px;
		font-family: 'Ubuntu', sans-serif;
		padding-left: 0;
		height: 55px;
		margin-top: -19px;
		font-weight: bold;
		color: #928F8F;
		box-shadow: none;
		border-radius: 0;
		}
		#inputico{
		   float: left;
			margin-top: 15px;
			font-size: 16pt;
			margin-right: 10px;
			}
/*btn=====*/
.btn{
	width: 80%;
    background: #ff0000;
    color: #FFFFFF;
	}
/*@media===================*/
@media screen and (max-width: 2560px){
	.tab-content{
		padding: 16.5% 2% !important;
		}
	}
	
@media screen and (max-width: 1440px){
	.tab-content{
		padding: 0% 1% !important;
		}
		.carousel-inner{
			    width: 48.1vh !important;
		}
	}
@media screen and (max-width: 425px){
	.navbar-right{
		padding: 8% 2% !important;
		}
		#footer1{
			margin-left:auto !important;
			}
			
	}
@media screen and (max-width: 768px){
	#footer1{
			margin-left:auto !important;
			}
			#footer1 p{
			    margin-right: 13px;
				}
				#wallets{
			    float: left;
				}
	}