
.wrapper {margin-top: 15%;align-items: center;height: 50%;font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;    }
.wrapper p{padding-top: 20px;font-size:30px;margin-bottom: 5px;}
.wrapper hr{width: 50%;}
.wrapper input{margin-top: 1%;padding: 10px;}
.payqwik{width: 20%;margin-top: 30px;margin-left: 20px;float: left;}
.payqwik img{width: 90%;}
.lineblue{background: #17bcc8; height: 5px;}
.wrapper a {color:#514949;}
.btn{width: 100px;border-radius: 0 !important; background: red; color: white !important;}
.mer{margin-top: 30px;margin-left: 80%; height: 100px;}
.mer img{width: 50%; height: 120px;}
.form { color: red;}
#footer {min-height: 30px;bottom: 0; width: 100%; background-color: #f5f5f5;text-align: center;padding: 8px;}
.lineblue{height: 5px; background: #17bcc8; margin-top: 25px;}
#footer a{padding-right: 8px;padding-left: 8px;color: #000000;border-right:#e6e6e6 solid 1.5px;font-family: 'Ubuntu', sans-serif;font-size: 13px; }
.resend{ color: #00aeef}

