body {
  color: #737373;
  background: #efefef;
  font-family: 'Open Sans', Tahoma, Arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
}
#myCarousel{
	margin-top: 53%;
	height: 355px;
}
a {
  color: #17bcc8;
  text-decoration: none;
}
a:hover {
  color:#17bcc8;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
.text-hero {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  margin-top: 0;
  font-weight: 300;
  color: #565656;
  line-height: 1.3em;
}
h1.bolded,
h2.bolded,
h3.bolded,
h4.bolded,
h5.bolded,
.text-hero.bolded {
  font-weight: 400;
}
h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
.text-hero b {
  font-weight: 300;
  line-height: 1em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
.text-hero small {
  font-size: 50%;
  font-weight: inherit;
}
h1 {
  font-size: 51.98102000000001px;
}
h2 {
  font-size: 39.985400000000006px;
}
h3 {
  font-size: 30.758000000000003px;
}
h4 {
  font-size: 23.66px;
}
h5 {
  font-size: 18.2px;
  font-weight: 300;
}
* > small,
small {
  color: #818181;
  font-size: 10px;
  line-height: 1.4000000000000001em;
}
big,
.text-lg {
  color: #686868;
  font-size: 16px;
  line-height: 1.78em;
}
.page-title {
  font-size: 75px;
  margin: 30px 0;
}
@media (max-width:992px) {
  .page-title {
    font-size: 50px;
  }
}
.text-white {
  color: #fff;
}
.text-white big,
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white small,
.text-white .text-hero,
.text-white a,
.text-white a:hover,
.text-white span {
  color: #fff;
}
a.text-white:hover {
  color: #fff;
}
.text-udl {
  text-decoration: underline;
}
a.text-udl:hover {
  text-decoration: underline;
}
.text-default {
  color: #737373;
}
.text-color {
  color: #17bcc8 !important;
}
.text-darken {
  color: #565656;
}
a.text-darken {
  color: #565656;
}
a.text-darken:hover {
  color: #3f3f3f;
}
.text-smaller {
  font-size: 75%;
}
.text-small {
  font-size: 12px;
  line-height: 1.5em;
}
.text-small p {
  margin-bottom: 4px;
  font-size: 11px;
  line-height: 1.4em;
}
.text-small h5 {
  font-size: 14px;
  line-height: 1em;
  margin-bottom: 4px;
}
.text-tiny {
  font-size: 10px;
}
.text-bigger {
  font-size: 125%;
  line-height: 1.5em;
}
.text-darken {
  color: #626262;
}
.text-gray {
  color: #808080;
}
.lh1em {
  line-height: 1em;
}
.text-hero {
  font-size: 200px;
  line-height: 1em;
}
.text-xl {
  font-size: 100px;
  line-height: 1em;
}
.uc,
.text-uc {
  text-transform: uppercase;
}
blockquote {
  position: relative;
  padding: 0 0 0 40px;
  margin: 10px 20px;
  border: none;
  line-height: 1.6em;
}
blockquote:before {
  content: '\f10e';
  font-family: 'FontAwesome';
  top: 0;
  left: 0;
  font-size: 30px;
  position: absolute;
}
.testimonial .testimonial-inner {
  background: #fff;
  padding: 20px;
  border: 1px solid #d9d9d9;
  position: relative;
  margin-bottom: 22px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.testimonial .testimonial-inner:before,
.testimonial .testimonial-inner:after {
  display: block;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  top: 100%;
}
.testimonial .testimonial-inner:after {
  border-color: #fff transparent transparent transparent;
  border-width: 18px 18px 0 0;
}
.testimonial .testimonial-inner:before {
  border-color: #d9d9d9 transparent transparent transparent;
  border-width: 20px 20px 0 0;
  left: 19px;
}
.testimonial blockquote {
  padding: 0;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  color: #737373;
}
.testimonial blockquote:before {
  display: none;
}
.testimonial blockquote p {
  color: #737373;
}
.testimonial .testimonial-author {
  overflow: hidden;
}
.testimonial .testimonial-author img {
  width: auto;
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.testimonial .testimonial-author .testimonial-author-name {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 13px;
}
.testimonial .testimonial-author cite {
  font-size: 12px;
  font-style: italic;
  line-height: 1em;
  margin: 0;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  display: block;
}
.testimonial-color .testimonial-inner {
  border: 1px solid #17bcc8;
  background: #17bcc8;
}
.testimonial-color .testimonial-inner blockquote,
.testimonial-color .testimonial-inner blockquote p {
  color: #fff;
}
.testimonial-color .testimonial-inner:after {
  border-color: #17bcc8 transparent transparent transparent;
}
.testimonial-color .testimonial-inner:before {
  border-color: #17bcc8 transparent transparent transparent;
}
.btn {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.btn:hover {
  /*-webkit-border-radius: 10px;
  border-radius: 10px;*/
  color: #fff;
  background: #00abee;
}
.btn > .fa,
.btn > .im {
  margin: 0 5px;
}
.btn-primary {
  background: #17bcc8;
  border-color: #17bcc8;
  height: 40px;
  font-size: 18px;
}
.btn-primary:hover {
  background: #e27513;
  border-color: #c96810;
}
.btn-primary-invert {
  background: #127cdc;
  border-color: #1070c6;
  color: #fff;
}
.btn-primary-invert:hover {
  color: #fff;
  background: #1070c6;
  border-color: #0e63b0;
}
.btn-paypal {
  background: #0079c1;
  color: #fff;
  border-color: #006dae;
}
.btn-paypal:hover {
  color: #fff;
  background: #006dae;
  border-color: #00619a;
}
.btn-ghost {
  background: none;
}
.btn-ghost.btn-primary {
  color: #17bcc8;
}
.btn-ghost.btn-primary:hover {
  background: #17bcc8;
}
.btn-ghost.btn-success {
  color: #5cb85c;
}
.btn-ghost.btn-success:hover {
  background: #5cb85c;
}
.btn-ghost.btn-info {
  color: #5bc0de;
}
.btn-ghost.btn-info:hover {
  background: #5bc0de;
}
.btn-ghost.btn-warning {
  color: #f0ad4e;
}
.btn-ghost.btn-warning:hover {
  background: #f0ad4e;
}
.btn-ghost.btn-danger {
  color: #d9534f;
}
.btn-ghost.btn-danger:hover {
  background: #d9534f;
}
.btn-ghost.btn-primary-invert {
  color: #127cdc;
}
.btn-ghost.btn-primary-invert:hover {
  background: #127cdc;
}
.btn-ghost:hover {
  color: #fff;
}
.btn-ghost.btn-default:hover {
  color: #454545;
}
.btn-ghost.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-ghost.btn-white:hover {
  background: #fff;
  color: #737373;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mt50 {
  margin-top: 20px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.box {
  padding: 15px 17px;
}
.br5 {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bg-gray {
  background: #f2f2f2;
}
.row.row-wrap > [class^="col-"],
.row.row-col-gap > [class^="col-"] {
  margin-bottom: 30px;
}
.row.row-full {
  margin-left: 0;
  margin-right: 0;
}
.row.row-no-gutter,
.row[data-gutter="0"] {
  margin: 0 !important;
}
.row.row-no-gutter > [class^="col-"],
.row[data-gutter="0"] > [class^="col-"] {
  padding: 0 !important;
}
.row[data-gutter="10"] {
  margin-left: -5px;
  margin-right: -5px;
}
.row[data-gutter="10"] > [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.row[data-gutter="60"] {
  margin-left: -30px;
  margin-right: -30px;
}
.row[data-gutter="60"] > [class^="col-"] {
  padding-left: 30px;
  padding-right: 30px;
}
.row[data-gutter="120"] {
  margin-left: -60px;
  margin-right: -60px;
}
.row[data-gutter="120"] > [class^="col-"] {
  padding-left: 60px;
  padding-right: 60px;
}
label {
  font-weight: 400;
  display: block;
}
.form-group {
  position: relative;
}
.form-group.form-group-ghost ::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
.form-group.form-group-ghost :-moz-placeholder {
  color: rgba(255,255,255,0.5);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.form-group.form-group-ghost ::-moz-placeholder {
  color: rgba(255,255,255,0.5);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.form-group.form-group-ghost :-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
.form-group.form-group-ghost label {
  color: #fff;
}
.form-group.form-group-ghost .input-icon {
  color: #fff;
}
.form-group.form-group-ghost.form-group-focus .input-icon-hightlight {
  color: #f19c4f !important;
}
.form-group.form-group-ghost .form-control {
  background: rgba(255,255,255,0.1);
  border-color: #fff;
  color: #fff;
}
.form-group.form-group-ghost .form-control:hover {
  cursor: pointer;
}
.form-group.form-group-ghost .form-control:active,
.form-group.form-group-ghost .form-control:focus {
  border-color: #f19c4f;
}
.form-group.form-group-lg {
  margin-bottom: 25px;
}
.form-group.form-group-lg .input-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
}
.form-group.form-group-lg.form-group-icon-left .form-control {
  padding-left: 45px;
}
.form-group.form-group-lg.form-group-icon-right .form-control {
  padding-right: 45px;
}
.form-group.form-group-lg label {
  font-size: 16px;
  margin-bottom: 7px;
}
.form-group.form-group-lg .form-control {
  height: 45px;
  padding: 10px 18px;
  font-size: 13px;
}
.form-group.form-group-sm {
  margin-bottom: 10px;
}
.form-group.form-group-sm label {
  margin-bottom: 3px;
  font-size: 13px;
}
.form-group.form-group-sm .form-control {
  height: 25px;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1.4em;
}
.form-group.form-group-icon-left .form-control {
  padding-left: 32px;
}
.form-group.form-group-icon-right .form-control {
  padding-right: 32px;
}
.form-group .input-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: block;
  top: 29px;
  left: 1px;
  text-align: center;
  color: #b3b3b3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}
.form-group .input-icon.input-icon-show {
  -webkit-transform: translate3d(0, -10px, 0);
  -moz-transform: translate3d(0, -10px, 0);
  -o-transform: translate3d(0, -10px, 0);
  -ms-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.form-group .input-icon.input-icon-show + label + .form-control {
  padding: 6px 12px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.form-group.form-group-icon-right .input-icon {
  right: 1px;
  left: auto;
}
.form-group.form-group-focus .input-icon {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.form-group.form-group-focus .input-icon.input-icon-hightlight {
  color: #17bcc8;
}
.form-group.form-group-focus .input-icon.input-icon-show {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.form-group.form-group-focus .input-icon.input-icon-show + label + .form-control {
  padding-left: 32px;
}
.form-group.form-group-focus .input-icon.input-icon-bounce {
  -webkit-animation: 1s bounce;
  -moz-animation: 1s bounce;
  -o-animation: 1s bounce;
  -ms-animation: 1s bounce;
  animation: 1s bounce;
}
.form-group.form-group-focus .input-icon.input-icon-swing {
  -webkit-animation: 1s swing;
  -moz-animation: 1s swing;
  -o-animation: 1s swing;
  -ms-animation: 1s swing;
  animation: 1s swing;
}
.form-group.form-group-focus .input-icon.input-icon-tada {
  -webkit-animation: 1s tada;
  -moz-animation: 1s tada;
  -o-animation: 1s tada;
  -ms-animation: 1s tada;
  animation: 1s tada;
}
.form-group.form-group-focus .input-icon.input-icon-shake {
  -webkit-animation: 1s shake;
  -moz-animation: 1s shake;
  -o-animation: 1s shake;
  -ms-animation: 1s shake;
  animation: 1s shake;
}
.form-group.form-group-filled .input-icon-show {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.form-group.form-group-filled .input-icon-show + label + .form-control {
  padding-left: 32px;
}
.form-group.form-group-filled label {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.form-group.form-group-filled label.label-anim {
  color: #17bcc8;
  -webkit-animation: label-anim 0.5s;
  -moz-animation: label-anim 0.5s;
  -o-animation: label-anim 0.5s;
  -ms-animation: label-anim 0.5s;
  animation: label-anim 0.5s;
}
.form-group.form-group-filled label.label-highlight {
  color: #17bcc8;
}
.form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1.6em;
  height: 40px;
}
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #17bcc8;
}
.help-block {
  font-size: 12px;
  margin-top: 7px;
}
.checkbox,
.radio {
  margin-bottom: 15px;
  margin-top: 0;
}
.checkbox-inline label,
.radio-inline label {
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 15px;
}
label.label-focus {
  color: #17bcc8;
  -webkit-animation: label-anim 0.5s;
  -moz-animation: label-anim 0.5s;
  -o-animation: label-anim 0.5s;
  -ms-animation: label-anim 0.5s;
  animation: label-anim 0.5s;
}
.btn-group-select-num >.btn {
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  height: 28px;
  line-height: 26px;
  width: 28px;
  padding: 0;
  background: none;
  color: #737373;
  border: 1px solid transparent;
}
.btn-group-select-num >.btn:hover {
  color: #737373;
  border-color: #737373;
  background: none;
}
.btn-group-select-num >.btn.active,
.btn-group-select-num >.btn.active:hover {
  background: #17bcc8;
  /*border-color: #e27513;*/
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
.form-group-lg .btn-group-select-num {
  margin-top: 3px;
}
.form-group-lg .btn-group-select-num > .btn {
  height: 35px;
  line-height: 35px;
  width: 35px;
}
@-moz-keyframes label-anim {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes label-anim {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes label-anim {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes label-anim {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes label-anim {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slimmenu-menu-collapser {
  position: relative;
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slimmenu-collapse-button {
  position: absolute;
  right: 8px;
  top: 50%;
  width: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slimmenu-collapse-button .slimmenu-icon-bar {
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px rgba(0,0,0,0.25);
  display: block;
  height: 2px;
  width: 18px;
  margin: 2px 0;
}
ul.slimmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul.slimmenu li {
  position: relative;
  display: inline-block;
}
ul.slimmenu li a {
  display: block;
  padding: 12px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  color: #737373;
  -webkit-transition: background-color 0.17s ease-out;
  -moz-transition: background-color 0.17s ease-out;
  -o-transition: background-color 0.17s ease-out;
  -ms-transition: background-color 0.17s ease-out;
  transition: background-color 0.17s ease-out;
}
ul.slimmenu li.slimmenu-sub-menu a {
  padding: 12px 34px 12px 20px;
}
ul.slimmenu li.active > a,
ul.slimmenu li:hover > a {
  background: #17bcc8;
  color: #fff;
}
ul.slimmenu li.active .slimmenu-sub-collapser > i,
ul.slimmenu li:hover .slimmenu-sub-collapser > i {
  color: #fff;
}
ul.slimmenu li .slimmenu-sub-collapser {
  position: absolute;
  right: 11px;
  top: 0;
  width: 20px;
  height: 100%;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}
ul.slimmenu li .slimmenu-sub-collapser:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
ul.slimmenu li .slimmenu-sub-collapser > i {
  text-align: center;
  color: #333;
  font-size: 18px;
  vertical-align: middle;
}
ul.slimmenu li ul {
  margin: 0;
  list-style: none;
}
ul.slimmenu li ul li {
  display: block;
}
ul.slimmenu li ul li a {
  background-color: #333;
  color: #fff;
}
ul.slimmenu li > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  padding: 0;
  min-width: 170px;
}
ul.slimmenu li > ul > li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  width: 100%;
}
ul.slimmenu.slimmenu-collapsed li {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul.slimmenu.slimmenu-collapsed li ul li a {
  background: none;
  color: #17bcc8;
}
ul.slimmenu.slimmenu-collapsed li ul li a:hover {
  background: #17bcc8;
  color: #fff;
}
ul.slimmenu.slimmenu-collapsed li a {
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.075);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul.slimmenu.slimmenu-collapsed li > ul {
  display: none;
  position: static;
  width: 100%;
  padding-left: 50px;
}
ul.slimmenu.slimmenu-collapsed li .slimmenu-sub-collapser {
  height: 50px;
  width: 50px;
  right: 0;
  background: #c96810;
}
ul.slimmenu.slimmenu-collapsed li .slimmenu-sub-collapser > i {
  color: #fff;
}
.gap {
  display: block;
  position: relative;
  margin: 30px 0 30px 0;
  clear: both;
}
.gap:after {
  clear: both;
  content: '';
  display: table;
}
.gap-small {
  margin: 15px 0 15px 0;
}
.gap-mini {
  margin: 10px 0 10px 0;
}
.gap-big {
  margin: 60px 0 60px 0;
}
.gap-large {
  margin: 90px 0 90px 0;
}
.gap-top {
  margin-bottom: 0 !important;
}
.gap-bottom {
  margin-top: 0 !important;
}
.gap-border {
  border: 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #fff;
}
.search-tabs > .tabbable >.tab-content > .tab-pane {
  padding: 15px;
}
.nav-tabs > li > a {
  text-transform: uppercase;
}
.search-tabs-abs {
  position: absolute;
  top: 0;
  left: 14%;
  width: 55%;
}
@media (max-width:992px) {
  .search-tabs-abs {
    position: relative;
    width: 100%;
    left: 0;
  }
}
.search-tabs-abs-bottom {
  position: absolute;
  top: 320px;
}
@media (max-width:992px) {
  .search-tabs-abs-bottom {
    position: relative;
    top: 0;
    margin: 50px 0;
  }
}
.search-tabs-bottom {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
}
@media (max-width:992px) {
  .search-tabs-bottom {
    position: relative;
    bottom: auto;
    top: 0;
    margin-top: 50px;
  }
}
.search-tabs-to-top {
  position: relative;
  z-index: 10;
  margin-top: -120px;
}
.search-tabs-bg > h1 {
  color: #fff;
  margin-bottom: 25px;
}
.search-tabs-bg > .tabbable >.tab-content > .tab-pane {
  background: #fff;
  padding: 25px;
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.15);
  box-shadow: 0 2px 1px rgba(0,0,0,0.15);
}
.search-tabs-bg > .tabbable >.tab-content > .tab-pane .form-control {
  background: rgba(255,255,255,0.5);
}
.nav-tabs {
  border: none;
}
#myTab {
  margin-top: 117px;
}
.nav-tabs > li {
  margin-bottom: 0;
  margin-right: 5px;
}
.nav-tabs > li > a {
  background: rgba(0,0,0,0.4);
  border: none !important;
  color: #fff;
}
/*.nav-tabs > li > a > span:hover {
  color: #17bcc8;
}*/
@media (max-width:992px) {
  .nav-tabs > li > a > span {
    display: none;
  }
}
.nav-tabs > li > a:hover > .fa {
  background: #17bcc8;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-tabs > li > a > .fa {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 2px;
  background: rgba(0,0,0,0.3);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.nav-tabs > li.active > a {
  background: #17bcc8;
  color: #fff;
  padding-top: 15px;
  margin-top: -5px;
}
.nav-tabs > li.active > a:hover > .fa {
  background: rgba(0,0,0,0.3);
}
.search-tabs-nobox > .tabbable > .tab-content > .tab-pane {
  padding: 25px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-tabs-lift-top {
  margin-top: -50px;
}
.hover-img {
  z-index: 1;
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img .curved > img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.hover-img >img {
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -o-transition: 4s;
  -ms-transition: 4s;
  transition: 4s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img .hover-icon-group,
.hover-img .hover-icon-group-top-right,
.hover-img .hover-icon-group-top-left,
.hover-img .hover-icon-group-bottom-left,
.hover-img .hover-icon-group-bottom-right,
.hover-img .hover-icon-group-center-top,
.hover-img .hover-icon-group-center-bottom {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.hover-img .hover-icon-group > li,
.hover-img .hover-icon-group-top-right > li,
.hover-img .hover-icon-group-top-left > li,
.hover-img .hover-icon-group-bottom-left > li,
.hover-img .hover-icon-group-bottom-right > li,
.hover-img .hover-icon-group-center-top > li,
.hover-img .hover-icon-group-center-bottom > li {
  display: inline-block;
  margin: 0 5px;
}
.hover-img .hover-icon-group-top-left,
.hover-img .hover-icon-group-bottom-left {
  text-align: left;
}
.hover-img .hover-icon-group-top-right,
.hover-img .hover-icon-group-bottom-right {
  text-align: right;
}
.hover-img .hover-icon,
.hover-img .hover-icon-group,
.hover-img [class^="hover-icon-"],
.hover-img [class*=" hover-icon-"] {
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.hover-img [class^="hover-icon-"],
.hover-img [class*=" hover-icon-"] {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.hover-img >.hover-inner {
  position: absolute;
  width: 101%;
  height: 100%;
  padding: 15px;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.hover-img >.hover-inner.hover-inner-sm {
  padding: 10px;
}
.hover-img .hover-inner {
  width: 101%;
  height: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #17bcc8;
  color: #fff !important;
}
.hover-img .hover-inner h1,
.hover-img .hover-inner h2,
.hover-img .hover-inner h3,
.hover-img .hover-inner h4,
.hover-img .hover-inner h5 {
  color: #fff;
}
.hover-img .hover-inner-bg-black {
  background: rgba(0,0,0,0.5) !important;
}
.hover-img .hover-inner-block {
  height: auto;
}
.hover-img .hover-inner-bottom {
  top: auto;
  bottom: 0;
}
.hover-img .hover-title,
.hover-img [class^="hover-title-"],
.hover-img [class*=" hover-title-"] {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  background: rgba(237,131,35,0.75);
  color: #fff;
  width: 100%;
  padding: 0 7px;
  line-height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hover-img .hover-title-top,
.hover-img .hover-title-top-left,
.hover-img .hover-icon-top-left,
.hover-img .hover-icon-group-top-left {
  bottom: auto;
  top: 0;
}
.hover-img .hover-title-top-right,
.hover-img .hover-icon-top-right,
.hover-img .hover-icon-group-top-right {
  bottom: auto;
  top: 0;
  left: auto;
  right: 0;
}
.hover-img .hover-title-bottom-right,
.hover-img .hover-icon-bottom-right,
.hover-img .hover-icon-group-bottom-right {
  left: auto;
  right: 0;
}
.hover-img .hover-title-center,
.hover-img .hover-title-top-right,
.hover-img .hover-title-top-left,
.hover-img .hover-title-bottom-right,
.hover-img .hover-title-bottom-left,
.hover-img .hover-title-center-top,
.hover-img .hover-title-center-bottom {
  display: table;
  width: auto;
}
.hover-img .hover-title-top-right,
.hover-img .hover-title-top-left,
.hover-img .hover-title-bottom-right,
.hover-img .hover-title-bottom-left,
.hover-img .hover-icon-top-right,
.hover-img .hover-icon-top-left,
.hover-img .hover-icon-bottom-right,
.hover-img .hover-icon-bottom-left,
.hover-img .hover-icon-group-top-right,
.hover-img .hover-icon-group-top-left,
.hover-img .hover-icon-group-bottom-right,
.hover-img .hover-icon-group-bottom-left {
  margin: 15px;
}
.hover-img .hover-title-center,
.hover-img .hover-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
  -moz-transform: translate3d(-50%, 50%, 0);
  -o-transform: translate3d(-50%, 50%, 0);
  -ms-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}
.hover-img .hover-icon-group {
  top: 50%;
  -webkit-transform: translate3d(0, 50%, 0);
  -moz-transform: translate3d(0, 50%, 0);
  -o-transform: translate3d(0, 50%, 0);
  -ms-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
.hover-img .hover-title-center-top,
.hover-img .hover-title-center-bottom,
.hover-img .hover-icon-center-top,
.hover-img .hover-icon-center-bottom,
.hover-img .hover-icon-group-center-top,
.hover-img .hover-icon-group-center-bottom {
  margin: 15px 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}
.hover-img .hover-title-center-top,
.hover-img .hover-icon-center-top,
.hover-img .hover-icon-group-center-top {
  bottom: auto;
  top: 0;
}
.hover-img .hover-icon-bottom-left,
.hover-img .hover-icon-bottom-right,
.hover-img .hover-icon-center-bottom,
.hover-img .hover-icon-group-bottom-left,
.hover-img .hover-icon-group-bottom-right,
.hover-img .hover-icon-group-center-bottom {
  bottom: 0;
}
.hover-img .hover-hold {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hover-img .hover-hold.hover-title-center,
.hover-img .hover-hold.hover-icon {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hover-img .hover-hold.hover-title-center-top,
.hover-img .hover-hold.hover-title-center-bottom,
.hover-img .hover-hold.hover-icon-center-top,
.hover-img .hover-hold.hover-icon-center-bottom,
.hover-img .hover-hold.hover-icon-group-center-top,
.hover-img .hover-hold.hover-icon-group-center-bottom {
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.hover-img .hover-hold.hover-icon-group {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.hover-img:hover .hover-title,
.hover-img:hover [class^="hover-title-"],
.hover-img:hover [class*=" hover-title-"],
.hover-img:hover [class^="hover-icon-"],
.hover-img:hover [class*=" hover-icon-"],
.hover-img:hover .hover-icon,
.hover-img:hover .hover-inner-wrap,
.hover-img:hover > .hover-inner,
.hover-img:hover .hover-icon-group {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hover-img:hover .hover-title-center,
.hover-img:hover .hover-icon {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hover-img:hover .hover-icon-group {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.hover-img:hover .hover-title-center-top,
.hover-img:hover .hover-title-center-bottom,
.hover-img:hover .hover-icon-center-bottom,
.hover-img:hover .hover-icon-center-top,
.hover-img:hover .hover-icon-group-center-top,
.hover-img:hover .hover-icon-group-center-bottom {
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.hover-img:hover >img {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.thumb:after {
  content: '';
  line-height: 0;
  display: table;
  clear: both;
}
.thumb .img-left,
.thumb .img-right {
  width: auto;
}
.thumb .img-left {
  float: left;
  margin-right: 15px;
}
.thumb .img-right {
  float: right;
  margin-left: 15px;
}
.box-icon-left + .thumb-caption,
.box-icon-right + .thumb-caption,
.thumb-header-right + .thumb-caption,
.thumb-header-left + .thumb-caption,
.img-left + .thumb-caption,
.img-right + .thumb-caption {
  display: table;
}
.thumb-header {
  margin-bottom: 15px;
}
.thumb-inner {
  padding-top: 10px;
}
.thumb-inner-border {
  border: 1px solid #e6e6e6;
  padding: 5px 7px;
}
.thumb-header-left {
  float: left;
  margin-right: 15px;
}
.thumb-header-right {
  float: right;
  margin-left: 15px;
}
.thumb-title {
  margin: 0;
  line-height: 1em;
}
h5.thumb-title {
  font-size: 18px;
  font-weight: 400;
}
.thumb-desc {
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 13px;
  color: #818181;
  line-height: 1.4em;
}
.thumb-caption btn {
  margin-top: 7.5px;
}
.thumb-caption .thumb-social {
  margin-top: 7.5px;
}
.thumb-caption .thumb-meta {
  margin-top: 6px;
  font-style: italic;
  margin-bottom: 0;
}
.thumb-caption .thumb-meta [class^="fa fa-"] {
  margin-right: 5px;
}
.text-white .thumb-desc {
  color: #e6e6e6;
}
.text-white .thumb-title {
  color: #fff;
}
.thumb-progress {
  margin-top: 6px;
  margin-bottom: 0;
}
.post {
  margin-bottom: 45px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.post .post-header {
  border-bottom: 2px solid #17bcc8;
}
.post .post-header blockquote {
  padding: 40px;
  font-size: 30px;
  padding-left: 60px;
  margin: 0;
  font-weight: 400;
  background: #f5f5f5;
  line-height: 1.4em;
  font-style: italic;
  color: #686868;
}
.post .post-header blockquote:before {
  top: 10px;
  left: 10px;
}
.post .post-header .post-link {
  padding: 30px 15px;
  font-size: 50px;
  font-weight: bold;
  display: block;
  background: #17bcc8;
  color: #fff;
}
.post .post-header .post-link:hover {
  background: #d66f11;
  color: #fff;
}
.post .post-inner {
  padding: 15px 0 45px 0;
}
.post .post-title {
  margin: 0 0 15px 0;
  font-size: 35px;
}
.post .post-desciption {
  margin-bottom: 15px;
}
.post .post-meta {
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px dashed #e6e6e6;
  display: table;
}
.post .post-meta li {
  display: inline-block;
  margin-right: 20px;
}
.post .post-meta li a {
  font-size: 12px;
  font-style: italic;
  color: #737373;
}
.post .post-meta li .fa {
  margin-right: 3px;
  color: #b2b2b2;
}
.thumb-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.thumb-list > li {
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px dashed #e6e6e6;
  overflow: hidden;
}
.thumb-list > li img {
  float: left;
  width: 50px;
  margin-right: 10px;
}
.thumb-list > li .thumb-list-item-caption {
  display: table;
}
.thumb-list > li .thumb-list-item-caption .icon-list-rating {
  font-size: 9px;
  color: #f19c4f;
  margin-bottom: -3px;
}
.thumb-list > li .thumb-list-item-caption .icon-list-rating.icon-list-non-rated {
  color: #8f8f8f !important;
}
.thumb-list > li .thumb-list-item-caption .thumb-list-item-title {
  font-size: 13px;
  margin-bottom: 3px;
  margin-top: 2px;
}
.thumb-list > li .thumb-list-item-caption .thumb-list-item-title a {
  color: #686868;
}
.thumb-list > li .thumb-list-item-caption .thumb-list-item-title a:hover {
  text-decoration: underline;
}
.thumb-list > li .thumb-list-item-caption .thumb-list-item-desciption {
  font-size: 11px;
  margin: 0;
  color: #969696;
  line-height: 1.4em;
}
.thumb-list > li .thumb-list-item-caption .thumb-list-item-meta {
  margin-bottom: 2px;
  line-height: 1em;
  font-size: 9px;
  color: #8f8f8f;
  font-style: italic;
}
.thumb-list > li .thumb-list-item-caption .thumb-list-item-price {
  font-size: 16px;
  color: #818181;
  margin-bottom: 0;
}
.thumb-list > li .thumb-list-item-caption .thumb-list-item-author {
  font-size: 11px;
  color: #8f8f8f;
  font-style: italic;
}
.thumb-list > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.thumb-list.thumb-list-right > li img {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.nav-tabs > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
}

@media (min-width:992px) {
  body.boxed .global-wrap {
    width: 1230px;
    margin: 30px auto;
    -webkit-box-shadow: 0 4px 2px rgba(0,0,0,0.2);
    box-shadow: 0 4px 2px rgba(0,0,0,0.2);
  }
}
.global-wrap {
  background: #fff;
  height: 100%;
}
.dis-table {
  display: table;
}
.full,
.full-page {
  width: 100%;
  height: 100%;
}
@media (max-width:992px) {
  .full-page {
    min-height: 1000px;
  }
}
.rel {
  position: relative;
}
.full-height {
  height: 100%;
}
.full-page {
  position: relative;
}
.top-area,
.special-area {
  height: 700px;
  position: relative;
  overflow: hidden;
}
@media (max-width:992px) {
  .top-area,
  .special-area {
    height: auto;
  }
}
.special-area {
  height: 500px;
}
.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}
.bg-darken {
  background: #f2f2f2;
}
.bg-color {
  background: #17bcc8;
}
.bg-holder {
  position: relative;
  overflow: hidden;
}
.bg-holder > .bg-mask,
.bg-holder > .bg-blur,
.bg-holder > .bg-mask-darken,
.bg-holder > .bg-mask-lighten,
.bg-holder > .bg-parallax,
.bg-holder > .bg-img,
.bg-holder > .bg-video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.bg-holder > .bg-video {
  width: 100%;
  height: auto;
  z-index: 4;
}
.bg-holder > .bg-mask,
.bg-holder > .bg-parallax,
.bg-holder > .bg-img {
  width: 100%;
  height: 100%;
}
.bg-holder > .bg-mask,
.bg-holder > .bg-mask-darken,
.bg-holder > .bg-mask-lighten,
.bg-holder > .bg-mask-white,
.bg-holder > .bg-mask-color,
.bg-holder > .bg-mask-color-invert {
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  background: #000;
}
.bg-holder > .bg-mask-lighten {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.bg-holder > .bg-mask-darken {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.bg-holder > .bg-mask-color {
  background: #17bcc8;
}
.bg-holder > .bg-mask-white {
  background: #fff;
}
.bg-holder > .bg-mask-color-invert {
  background: #127cdc;
}
.bg-holder > .bg-parallax {
  background-position: 50% 0;
  background-attachment: fixed;
}
@media (max-width:992px) {
  .bg-holder > .bg-parallax {
    background-attachment: scroll;
    background-position: center center;
  }
}
.bg-holder > .bg-blur {
  width: 50% !important;
  height: 50% !important;
  -webkit-transform-origin: 1% 1%;
  -moz-transform-origin: 1% 1%;
  -o-transform-origin: 1% 1%;
  -ms-transform-origin: 1% 1%;
  transform-origin: 1% 1%;
  -webkit-transform: scale(2.1);
  -moz-transform: scale(2.1);
  -o-transform: scale(2.1);
  -ms-transform: scale(2.1);
  transform: scale(2.1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  z-index: 0;
}
.bg-holder > .bg-blur:before {
  content: '';
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bg-holder > .bg-blur.bg-parallax {
  background-attachment: scroll;
}
.bg-holder > .bg-holder-content,
.bg-holder > .bg-content {
  position: relative;
  z-index: 7;
}
.bg-holder > .bg-front {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 6;
}
@media (max-width:992px) {
  .bg-holder > .bg-front.bg-front-mob-rel {
    position: relative;
  }
}
.vert-center {
  left: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.hor-center {
  left: 50% !important;
  position: absolute !important;
  top: 0 !important;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.full-center {
  left: 50% !important;
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.to-top {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: relative;
  z-index: 10;
}
.loc-info {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  padding-top: 50px;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.loc-info .loc-info-title {
  color: #fff;
}
.loc-info .loc-info-title img {
  width: auto;
  margin-right: 10px;
  margin-top: -5px;
}
.loc-info .loc-info-weather {
  margin: 0;
}
.loc-info .loc-info-weather-icon {
  font-size: 60px;
  margin-left: 5px;
}
.loc-info .loc-info-weather-num {
  font-size: 30px;
  position: relative;
  top: -15px;
}
.loc-info .loc-info-weather-num .meteocon {
  margin-left: -5px;
}
.loc-info .loc-info-list {
  list-style: none;
  padding: 0;
  margin: 5px 0 10px 0;
  font-size: 13px;
}
.loc-info .loc-info-list > li > a {
  color: #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.loc-info .loc-info-list > li > a .fa {
  margin-right: 5px;
}
.loc-info .loc-info-list > li > a:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.round {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.round img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.curved {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
img {
  width: 100%;
}
img.origin {
  width: auto;
}
img.pp-img {
  width: 200px;
  margin-bottom: 10px;
}
.header-top {
  padding: 10px 0;
  max-height: 60px;
  background: #4d4d4d;
}
@media (max-width:992px) {
  .header-top {
    max-height: none;
  }
}
.logo {
  display: block;
}
.logo img {
  width: auto;
}
.top-user-area {
  font-size: 12px;
  position: relative;
}
.top-user-area > ul >li {
  line-height: 40px;
}
.top-user-area .top-user-area-list {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width:992px) {
  .top-user-area .top-user-area-list {
    margin-top: 10px;
    position: relative;
  }
}
.top-user-area .top-user-area-list > li {
  position: relative;
  border: none !important;
}
.top-user-area .top-user-area-list > li:after {
  content: '';
  position: absolute;
  top: 30%;
  right: 0;
  height: 40%;
  background: rgba(255,255,255,0.13);
  width: 1px;
}
.top-user-area .top-user-area-list > li:last-child:after {
  background: none;
}
.top-user-area .top-user-area-list > li > a {
  color: #f2f2f2;
}
.top-user-area .top-user-area-list > li > a:hover {
  color: #f19c4f;
}
.top-user-area .top-user-area-list > li.top-user-area-avatar {
  font-weight: 400;
}
.top-user-area .top-user-area-list > li.top-user-area-avatar > a > img {
  width: 44px;
  height: 44px;
  margin-right: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid rgba(0,0,0,0.1);
}
.top-user-area .top-user-area-list > li.top-user-area-avatar > a:hover > img {
  border: 2px solid #17bcc8;
}
.top-user-area .top-user-area-list > li.top-user-area-lang > a > img {
  margin-top: -2px;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.top-user-area .top-user-area-list > li.top-user-area-lang > a:hover > img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.top-user-area .top-user-area-list > li.top-user-area-lang .nav-drop-menu li a {
  line-height: 20px;
}
.top-user-area .top-user-area-list > li.top-user-area-lang .nav-drop-menu li a img {
  width: 20px;
  height: 20px;
}
div.nav-drop {
  display: inline-block;
}
.nav-drop {
  position: relative;
  padding-right: 23px !important;
}
.nav-drop .fa-angle-up,
.nav-drop .fa-angle-down {
  position: absolute;
  right: 8px;
  line-height: inherit;
  top: 0;
  font-size: 90%;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-drop .fa-angle-up {
  top: 5px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.nav-drop > .nav-drop-menu {
  min-width: 85px;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  left: -5px;
  color: #fff;
  -webkit-transform: translate3d(0, 10px, 0);
  -moz-transform: translate3d(0, 10px, 0);
  -o-transform: translate3d(0, 10px, 0);
  -ms-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  -ms-transition: opacity 0.3s, -ms-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-drop > .nav-drop-menu > li > a {
  background: #333;
  color: #fff;
  padding: 10px 15px;
  line-height: 1em;
  border-bottom: 1px solid #262626;
  display: block;
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.nav-drop > .nav-drop-menu > li > a > .right {
  float: right;
}
.nav-drop > .nav-drop-menu > li > a:hover {
  background: #17bcc8;
}
.nav-drop > .nav-drop-menu > li:last-child > a {
  border-bottom: none;
}
.nav-drop > .nav-drop-menu > li:first-child > a:before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #262626 transparent;
  top: -10px;
  left: 10px;
}
.nav-drop.active-drop .fa-angle-up {
  top: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.nav-drop.active-drop .fa-angle-down {
  top: 5px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.nav-drop.active-drop > .nav-drop-menu {
  height: auto;
  overflow: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-center {
  display: table;
  margin: 0 auto;
}
.list-inline-block > li {
  display: inline-block;
}
.list-horizontal > li,
.list-inline > li {
  float: left;
  margin-right: 10px;
  padding: 0;
  display: block;
}
.list-horizontal > li:last-child,
.list-inline > li:last-child {
  margin-right: 0;
}
.list-horizontal.list-border > li,
.list-inline.list-border > li {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(0,0,0,0.13);
}
.list-horizontal.list-border > li:last-child,
.list-inline.list-border > li:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}
.list-horizontal:after,
.list-inline:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.breadcrumb {
  background: none;
  padding: 0;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 0;
}
.breadcrumb > li + li:before {
  content: '\f105';
  font-family: 'FontAwesome';
  padding: 0 7px;
}
footer#main-footer {
  background: #17bcc8;
}

footer#main-footer .logo {
  margin-bottom: 15px;
}
footer#main-footer a,
footer#main-footer h1,
footer#main-footer h2,
footer#main-footer h3,
footer#main-footer h4,
footer#main-footer h5 {
  color: #fff;
}
footer#main-footer .form-control {
  background: #121212;
  border-color: #000;
  color: #fff;
}
footer#main-footer .form-control:focus {
  border-color: #17bcc8;
}
.list-footer > li {
  margin-bottom: 5px;
}
.list-footer > li > a:hover {
  text-decoration: underline;
}
header#main-header {
  border-bottom: 2px solid #17bcc8;
}
.main-header-search {
  top: 4px;
  position: relative;
}
@media (max-width:992px) {
  .main-header-search {
    margin-top: 15px;
  }
}
.main-header-search .form-control {
  margin-bottom: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #262626;
  border-color: #000;
  color: #fff;
}
.main-header-search .input-icon {
  top: 0;
  color: #fff;
}
.pagination {
  margin: 0;
  list-style: none;
  padding: 0;
  overflow: hidden;
  display: block;
  font-size: 12px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.pagination > li {
  display: block;
  float: left;
  min-width: 35px;
}
.pagination > li > a {
  border: none;
  color: #17bcc8;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
.pagination > li > a:hover {
  background: #4d4d4d;
  color: #fff;
}
.pagination > li.active > a,
.pagination > li.active > a:hover {
  background: #17bcc8;
}
.pagination > li.dots {
  line-height: 16px;
  text-align: center;
  font-size: 30px;
  color: #ccc;
}
.nav-pills > li.active > a {
  background: #17bcc8;
  cursor: default;
  border-radius: 0;
}
.nav-pills > li.active > a:hover {
  background: #17bcc8;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #17bcc8;
}
.nav-sm > li > a {
  padding: 5px 10px;
  font-size: 13px;
}
.nav-no-br > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.nav-bot-space {
  margin-bottom: 15px;
}
.card-select {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card-select > li {
  overflow: hidden;
  padding: 10px 15px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 90%;
}
.card-select > li.card-item-selected {
  border-color: #17bcc8;
}
.card-select > li.card-item-selected .card-select-cvc {
  display: inline-block;
}
.card-select .card-select-img {
  width: 64px;
  float: left;
  margin-right: 15px;
}
.card-select .card-select-data {
  display: table;
}
.card-select .card-select-cvc {
  display: none;
  width: 60px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.card-select .card-select-number {
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
  line-height: 40px;
  margin-bottom: 0;
}
.order-payment-list > li {
  padding: 10px 15px;
  border-bottom: 1px dashed #ccc;
}
.order-payment-list > li:first-child {
  border-top: 1px dashed #ccc;
}
.order-payment-list > li h5,
.order-payment-list > li p {
  margin-bottom: 0;
}
.order-payment-list > li h5 .fa {
  margin-right: 10px;
}
.order-payment-list > li small {
  margin-left: 35px;
}
.addional-offers {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 1.4em;
}
.rounded {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
aside.sidebar-right {
  padding-left: 30px;
  border-left: 1px solid #d4d4d4;
}
aside.sidebar-left {
  padding-right: 30px;
  border-right: 1px solid #d4d4d4;
}
.sidebar-widget {
  margin-bottom: 30px;
}
.list-category > li > a {
  color: #686868;
  margin-bottom: 7px;
  padding-bottom: 7px;
  display: block;
  border-bottom: 1px dashed #f2f2f2;
}
.list-category > li > a:hover {
  color: #17bcc8;
}
.address-list > li {
  margin-bottom: 20px;
}
.address-list > li > h5 {
  margin-bottom: 3px;
}
.tooltip-inner {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.logo-holder {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px 0 0 30px;
  display: block;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.logo-holder > img {
  width: auto;
}
.logo-holder:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.footer-links {
  list-style: none;
  font-size: 10px;
  text-align: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
.footer-links > li {
  display: inline-block;
  margin: 0 10px;
}
.footer-links > li > a {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  color: #fff;
}
.footer-links > li > a:hover {
  text-decoration: underline;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.footer-social {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100%;
}
.footer-social > li {
  display: inline-block;
  margin: 0 7px;
}
.card-thumb {
  position: relative;
  height: 170px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fafafa;
  padding: 15px 20px;
  border: 1px solid #e6e6e6;
  display: block;
}
.card-thumb.card-thumb-primary {
  border-color: #17bcc8;
}
.card-thumb .card-thumb-primary-label {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  line-height: 1em;
  padding: 4px 6px;
  background: #17bcc8;
  color: #fff;
  font-size: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.card-thumb .card-thumb-new {
  height: 50px;
  line-height: 50px;
  width: 50px;
  text-align: center;
  background: #17bcc8;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 30px;
  float: left;
  margin-right: 10px;
  margin-top: 45px;
  margin-left: 35px;
}
.card-thumb .card-thumb-new + p {
  margin-top: 55px;
  font-size: 12px;
}
.card-thumb .card-thumb-type {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: auto;
}
.card-thumb .card-thumb-number {
  font-size: 16px;
  color: #5c5c5c;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-bottom: 0;
}
.card-thumb .card-thumb-valid {
  font-size: 12px;
  color: #888;
}
.card-thumb .card-thumb-valid > span {
  font-size: 15px;
  color: #626262;
}
.card-thumb .card-thumb-actions {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 7px;
  right: 10px;
}
.card-thumb .card-thumb-actions > li {
  display: inline-block;
  margin-right: 8px;
}
.card-thumb .card-thumb-actions > li:last-child {
  margin-right: 0;
}
.card-thumb .card-thumb-actions > li > a {
  display: block;
  width: 23px;
  line-height: 23px;
  height: 23px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 12px;
  -webkit-box-shadow: 0 0 0 1px #737373;
  box-shadow: 0 0 0 1px #737373;
  color: #737373;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.card-thumb .card-thumb-actions > li > a:hover {
  background: #17bcc8;
  color: #fff;
  -webkit-box-shadow: 0 0 0 1px #d66f11;
  box-shadow: 0 0 0 1px #d66f11;
}
.card-thumb:hover .card-thumb-actions > li > a {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.spinner-clock {
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 20px auto;
}
.spinner-clock:before {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
  margin: -6px 0 0 -6px;
  z-index: 1;
}
.spinner-clock .spinner-clock-hour,
.spinner-clock .spinner-clock-minute {
  -webkit-animation-name: spinner;
  -moz-animation-name: spinner;
  -o-animation-name: spinner;
  -ms-animation-name: spinner;
  animation-name: spinner;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  width: 4px;
  background: #fff;
  margin-left: -2px;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  position: absolute;
  left: 50%;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.spinner-clock .spinner-clock-minute {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  top: 15px;
  height: 56px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.spinner-clock .spinner-clock-hour {
  -webkit-animation-duration: 12s;
  -moz-animation-duration: 12s;
  -o-animation-duration: 12s;
  -ms-animation-duration: 12s;
  animation-duration: 12s;
  top: 31px;
  height: 40px;
}
.spinner-clock.spinner-clock-slow .spinner-clock-minute {
  -webkit-animation-duration: 3px;
  -moz-animation-duration: 3px;
  -o-animation-duration: 3px;
  -ms-animation-duration: 3px;
  animation-duration: 3px;
}
.spinner-clock.spinner-clock-slow .spinner-clock-hour {
  -webkit-animation-duration: 36s;
  -moz-animation-duration: 36s;
  -o-animation-duration: 36s;
  -ms-animation-duration: 36s;
  animation-duration: 36s;
}
.panel-default > .panel-heading {
  backgr/ound: #fff;
  pad/ding: 0;
  border-bottom: none;
}
.panel-group .panel {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.panel-title {
  font-weight: 300;
}
.panel-title > a {
  display: block;
  position: relative;
  padding: 10px 15px;
  background: #fff;
}
.panel-title > a:before {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  font-size: 16px;
  top: 10px;
  right: 15px;
}
.tagline {
  font-size: 70px;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-weight: 100;
  color: #fff;
  position: absolute;
  line-height: 1em;
  margin-top: 100px;
  overflow: hidden;
  height: 85px;
  top: 0;
  left: 0;
}
.tagline > span {
  float: left;
  display: block;
  height: 85px;
  line-height: 85px;
  color: rgba(255,255,255,0.85);
}
.tagline > ul {
  height: 85px;
  line-height: 85px;
  position: relative;
  top: 0;
  display: block;
  float: left;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 600px;
}
.tagline > ul > li {
  font-weight: 500;
  position: absolute;
  top: 0;
  margin: 0;
  padding-left: 15px;
  top: -85px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transform-origin: 25% 0;
  -moz-transform-origin: 25% 0;
  -o-transform-origin: 25% 0;
  -ms-transform-origin: 25% 0;
  transform-origin: 25% 0;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.tagline > ul > li.active {
  top: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.tagline > ul > li.vs-out {
  top: 85px;
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.nav-side > li > a {
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #686868;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  font-size: 17px;
}
.last-minute-rating {
  color: #17bcc8;
  font-size: 20px;
}
.last-minute-rating .fa {
  margin-right: 8px;
}
.last-minute-title {
  font-size: 50px;
  line-height: 1em;
  font-weight: 300;
  margin-bottom: 5px;
}
.last-minute-date {
  margin-bottom: 5px;
  font-size: 20px;
  font-style: italic;
}
::selection {
  background: #17bcc8;
  color: #fff;
}
.datepicker {
  padding: 4px;
  direction: ltr;
}

/*================ ONE WAY ==============*/

.one-way-wrap {
  padding-top: 20px;
}
.round-trip {
  padding-top: 20px;
}
.wrap-title {
  background: #17bcc8;
  padding: 12px;
}
.wrap-title a {
  color: #ffffff;
}
/*.wrap-contain {
  background: #ffffff;
  margin-bottom: 35px;
}*/
.wrap-dtls {
  padding-top: 30px;
}
.time {
  font-size: 30px;
}
.line {
  border-bottom: 1px solid #b3b3b3;
  margin-top: 135px;
}
.fare {
  font-size: 25px;
  color: #005ce6;
}
.fa-inr {
  font-size: 15px;
}
.quantity {
  margin-left: 6px;
}
.trvlers {
  width: 38%;
}
.incr-btn {
  margin-left: -24px;
}
.flgt-dtls-arrw {
  width: 100px;
}
.flgt-dtls-dep {
  font-size: 25px;
}
.flgt-dtls-wrap {
  padding: 15px;
}
.flgt-dtls-img {
  width: 58%;
}
.flgt-dtls {
  padding: 10px;
}
.flgt-dtls-arr {
  font-size: 22px;
}
#baggage {
  padding: 20px;
  margin-bottom: -20px;
}
.fare-box {
  border: 1px solid;
  padding: 10px;
}
.f-rules {
  padding: 18px;
}
.dur-arrw {
  margin-left: -34px;
  width: 80%;
}
#demo {
  margin-top: 15px;
  margin-bottom: -15px;
}
.rou-time {
  font-size: 20px;
}
.rou-fare {
  font-size: 20px;
  color: #005ce6;
}
.rou-arrw {
    width: 140%;
    margin-left: -36px;
}
.half-box {
  border-right: 1px solid;
}
.banner {
  bord/er: 1px solid;
  width: 105%;
  margin-left: -13px;
  background: #efefef
  padding: 2px;
}
.selection {
  width: 35%;
}
.navbar-fixed-bottom {
  padding: 20px;
}
/*.navbar-fixed-bottom .container-fluid {
  padding: 10px;
}*/
.arr {
  font-size: 40px;
}
.tot-fare {
  font-size: 25px;
}
.tot-sym {
  font-size: 20px;
}
.tot-flgt {
  padding-left: 4%;
  width: 43%;
  border-right: 2px solid;
}
.tot-mny {
    padding-left: 4%;
    width: 14%;
}
.chkout-wrp {
  width: 80%;
}
.chkout-img {
  width: 5%;
}
.chkout-img-price {
  width: 11%;
}
.chkout-city {
  font-size: 22px;
}
.chkout-title img {
  width: 29%;
  margin-top: -5px;
}
.chkout-clck {
  width: 22%;
}
.clck-wrp {
  margin-top: 9px;
}
.chkout-place {
    font-size: 22px;
    font-weight: bold;
}
.chkout-time {
  font-size: 22px;
    font-weight: bold;
}
.chkout-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}
.line2 {
  border-bottom: 1px dotted #efefef;
  margin-top: 16px;
}
.line3 {
  border-bottom: 2px solid #efefef;
  margin-bottom: 16px;
}
.trav-per {
  width: 145% !important;
}
.traveller {
  float: right; 
  font-size: 12px;
  margin-top: 7px;
}
.chkout-right {
  float: right;
}
.list-group-item {
    border-top-left-radius: 0 !important; 
    border-top-right-radius: 0 !important; 
}
.tot-fare {
  font-size: 20px;
  font-weight: bold;
}
.btn-continue {
  font-size: 25px;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
  background: #34495e;
}
.btn-apply {
  font-weight: bold;
  color: #ffffff;
  background: #34495e;
}
.successMsg {
  color: #5cb85c;
  font-size: 13px;
  font-weight: 400;
}
.promo-field {
  width: 113% !important;
}
.msg {
  font-size: 10px;
  line-height: 0.1px;
}
.title {
  width: 117% !important;
}
.term-chk {
  font-size: 13px;
}
.mnufrm-field {
  border: none;
  border-bottom: 2px solid #efefef;
  height: 37px;
  font-size: 15px;
  margin-left: -15px;
}
.btn-srch {
  
  font-weight: bold;
  color: #fff;
  background: #34495e;
}
.flip-img {
  width: 66%;
  margin-top: 4px;
  margin-left: 3px;
  cursor: pointer;
} 
#datepicker {
  width: 100%;
}
.nooftrav {
  margin-left: -32px;
}
.travcls-wrp {
  margin-right: 30px;
}
.travcls {
  width: 144%;
}
.trav-field {
  width: 120%;
}
.terms-box > ul {
  height: 72px;
  overflow: scroll;
  font-size: 10px;
}

/*================================= HOTEL UI ===============================*/

/* Plugin styles */
    ul.thumbnails-carousel {
      padding: 5px 0 0 0;
      margin: 0;
      list-style-type: none;
      text-align: center;
      wid/th: 698px;
      height: 87px;
      over/flow: auto;
    }
    ul.thumbnails-carousel .center {
      display: inline-block;
    }
    ul.thumbnails-carousel li {
      margin-right: 5px;
      float: left;
      cursor: pointer;
    }
    .controls-background-reset {
      background: none !important;
      height: 306px;
    }
    .active-thumbnail {
      opacity: 0.4;
    }
    .indicators-fix {
      bottom: 70px;
    }
    .thumbnails-carousel li img{
      width: 120px;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
      top: 76%;
    }
.can-info {
  font-size: 10px;
}
.hotel-nme {
  font-size: 22px; 
  font-weight: bold;
}
.fa-star {
  color: #ffa822;
}
.fa-star-half-full {
  color: #ffa822;
}
.fa-star-o {
  color: #ffa822;
}
.chk {
  font-size: 12px;
  color: #ffa822;
  font-weight: 700;
}
.night {
  font-size: 10px;
  line-height: 0;
}
.clck {
  font-size: 27px;
    margin-top: 10px;
    margin-left: 23px;
    color: #3ec1ce;
}
.ni8 {
  margin-left: 9px;
    color: #3ec1ce;
}
.price {
  text-align: right;
    font-size: 24px;
    font-weight: 700;
    color: #17bcc8;
}
.prc-ni8 {
  font-weight: 600;
}
.hotel-pannel {
  border-radius: 0;
}
.amity {
  font-size: 13px;
  font-weight: 400;
  color: #40c1ce;
}
.rev-head {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  color: #17bcc8;
  line-height: 40px;
}
.over-pg {
  font-weight: 400;
  margin-bottom: 0px;
}
.rating {
  font-size: 23px;
  font-weight: 500;
}
.htl-img {
  border: 3px solid #efefef;
}
.htl-clck {
  font-size: 27px;
  margin-top: 4px;
  margin-left: 23px;
  color: #3ec1ce;
}
.htl-ni8 {
  margin-left: 9px;
    color: #3ec1ce;
}
.small-head {
  font-weight: 700;
}
.type {
  font-size: 13px;
}
.c-box {
  box-shadow: 2px 2px 2px #efefef;
  text-align: center;
}
.adlt {
      font-size: 17px;
    font-weight: 800;
    vertical-align: middle;
}
.rooms {
  font-size: 22px;
    font-weight: 900;
}

/*================================ BUS =====================================*/
.bus-content {
  width: 80%;
}
.sho {
  font-size: 22px;
  font-weight: 700;
  padding-left: 22px;
}
.bus-ope {
  font-size: 16px;
  font-weight: 800;
}
.bus-type {
  font-size: 11px;
  font-style: italic;
}
.bus-fa {
  font-size: 18px;
}
.tme {
  font-size: 22px;
  font-weight: 600;
}
.prc {
  font-size: 25px;
  font-weight: 700;
}
.sel-seat {
  font-size: 15px;
  font-weight: 800;
}
.ppp {
  font-size: 12px;
  font-weight: 600;
}
.cp {
  font-size: 10px;
  font-weight: 800;
}
.savail {
  font-size: 12px;
  font-style: oblique;
  color: #47d147;
  font-weight: 600;
}
.sqty {
  font-size: 12px;
  font-style: oblique;
  color: #47d147;
  fo/nt-weight: 600;
}
.note {
  font-size: 11px;
  font-weight: 600;
  color: red;
}
.tblBox > table > thead > tr > th {
  font-size: 15px;
  background: #efefef;
}
.bookinghead {
  font-size: 19px;
  font-weight: 500;
  color: #0066ff;
}
.bookingtype {
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
}
.close2 {
  position: absolute;
  border-radius: 50%;
  margin-left: 866px;
  margin-top: -29px;
  width: 32px;
  color: #fff;
  background: red !important;
  border: 2px solid;
  opacity: 1;
  height: 32px;
}
.close2:hover {
  color: red;
  background: #efefef !important;
  opacity: 1;
}
#close3 {
  position: absolute;
  border-radius: 50%;
  margin-left: 566px;
  margin-top: -28px;
  width: 32px;
  color: #fff;
  background: red !important;
  border: 2px solid;
  opacity: 1;
  height: 32px;
}
#close3:hover {
  color: red;
  background: #efefef !important;
  opacity: 1;
}
.close1 {
  position: absolute;
  border-radius: 50%;
  margin-left: 567px;
  margin-top: -28px !important;
  width: 32px;
  color: #fff;
  background: red !important;
  border: 2px solid;
  opacity: 1;
  height: 32px;
}

.close1:hover {
  color: red;
  background: #efefef !important;
  opacity: 1;
}
.rybb {
  font-size: 18px;
  font-weight: 600;
}
.st-bus {
  font-size: 17px;
  font-weight: 700;
}
.bus-arr {
  font-size: 19px;
  font-weight: 700;
}
.ed-bus {
  font-size: 17px;
  font-weight: 700;
}
.busdt {
  font-size: 13px;
  font-style: italic;
  margin-left: 50px;
}
.Btim {
  font-size: 16px;
  font-weight: 600;
  color: #00abee;
}
.Atim {
  font-size: 16px;
  font-weight: 600;
  color: #00abee;
}
.tim {
  font-size: 22px;
}
.Sitno {
  font-size: 16px;
  font-weight: 600;
  color: #00abee;
}
.sits {
  font-size: 16px;
  font-weight: 700;
}
.Bpsngr {
  font-size: 16px;
  font-weight: 600;
  color: #00abee;
}
.psngr {
  font-size: 16px;
  font-weight: 700;
}
.bus-op {
  font-size: 11px;
  color: #00abee;
  font-weight: 600;
}
.bus-op1 {
  font-size: 11px;
}
.bus-point {
  font-size: 11px;
  color: #00abee;
  font-weight: 600;
}
.bus-point1 {
  font-size: 11px;
}
.rupsym {
  font-size: 20px;
}
.sit-prc {
  font-size: 29px;
  font-weight: 700;
  color: #00abee;
}
.contnu {
  font-size: 20px;
  font-weight: 900;
}
.avail {
  width: 13%;
}
.booked {
  width: 13%;
}
.slcted {
  width: 13%;
}
.rsvrd-lady {
  width: 13%;
}
#lower {
  border: 2px solid #efefef;
  padding-top: 20px;
  width: 86%;
}
#upper {
  border: 2px solid #efefef;
  padding-top: 20px;
  width: 86%;
}
/*=========================bus==========================================*/
 .seats-wrp-in-sit {
  display: block;
  float: left;
  margin: -4px 4px 0px 4px;
}
.seats-wrp-in-sit img{
    margin-left: 8px;
    margin-right: 6px;
    margin-top: -6px;
}

.seat {
  display: inline-block;
  position: relative;
  width: 25px;
  color: #fff;
  background: url(../images/User/travel/img/Bus/seats2.png) no-repeat;
  /*background: grey;*/
  line-height: 25px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s;
  pointer-events: auto;
}
.seat{
  height: 30px;
}

.seat:active {
  transition: 0; 
    -webkit-transition: 0;
  -webkit-filter: brightness(.8);
}

.seats-wrp-in-sit input:checked + label {
  background: url(../images/User/travel/img/Bus/seats3.png) no-repeat;
  /*background: blue;*/
  color: #fff;
}

.seats-wrp-in-sit input:checked + label {
  animation: boom .5s;
    -webkit-animation: boom .5s;
}

@keyframes boom {
  25% { transform: scale(1.25); }
}
@-webkit-keyframes boom {
  25% { -webkit-transform: scale(1.25); }
}

.seats-wrp-in-sit input:disabled+ label {
  color: #fff;
  background: #f00;
}

.seats-wrp-in-sit input[type="checkbox"] {
  display: none;
}
/*===========================================================*/

.seats-wrp-in-sleep {
  display: block;
  float: left;
  margin: -4px 4px 0px 4px;
}
.seats-wrp-in-sleep img{
    margin-left: 8px;
    margin-right: 6px;
    margin-top: -6px;
}

.sleep {
  display: inline-block;
  position: relative;
  width: 50px;
  color: #fff;
  background: url(../images/User/travel/img/Bus/sleep1.png) no-repeat;
  /*background: grey;*/
  line-height: 25px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s;
  pointer-events: auto;
}
.sleep{
  height: 30px;
}

.sleep:active {
  transition: 0; 
    -webkit-transition: 0;
  -webkit-filter: brightness(.8);
}

.seats-wrp-in-sleep input:checked + label {
  background: url(../images/User/travel/img/Bus/sleep2.png) no-repeat;
  /*background: blue;*/
  color: #fff;
}

.seats-wrp-in-sleep input:checked + label {
  animation: boom .5s;
    -webkit-animation: boom .5s;
}

@keyframes boom {
  25% { transform: scale(1.25); }
}
@-webkit-keyframes boom {
  25% { -webkit-transform: scale(1.25); }
}

.seats-wrp-in-sleep input:disabled+ label {
  color: #fff;
  background: #f00;
}

.seats-wrp-in-sleep input[type="checkbox"] {
  display: none;
}
/*=================================================================*/

.bus-ttl {
      font-size: 25px;
    font-weight: 800;
}

.bus-prc {
  font-size: 25px;
    font-weight: 800;
}

.rupcnf .fa-inr {
  font-size: 18px;
}

.rupcnf {
  margin-top: 17px;
  margin-left: 50px;
}

.errnme {
  color: #e60000;
  position: absolute;
  margin-top: -25px;
  margin-left: 239px;
  font-size: 18px;
}
.errhme {
	color: #e60000;
  position: absolute;
  margin-top: -22px;
  margin-left: 239px;
  font-size: 18px;
}

.errage {
  color: #e60000;
  position: absolute;
  margin-top: -25px;
  margin-left: 46px;
  font-size: 18px;
}
.lower-ico {
	width: 10%;
    height: 77px;
    background: url(../images/User/travel/img/Bus/lower-ico.png) no-repeat;
    float: right;
    margin: 5px 64px;
    margin-top: -135px;
}

.upper-ico {
  width: 10%;
    height: 77px;
    background: url(../images/User/travel/img/Bus/upper-ico.png) no-repeat;
    float: right;
    margin: 5px 64px;
    margin-top: -142px;
}


.errcon {
  color: #e60000;
  position: absolute;
  margin-top: 8px;
  margin-left: -20px;
  font-size: 18px;
  z-index: 999;
}

.tooltips {
  position: relative;
  display: inline;
}

.tooltips .cont {
  position: absolute;
  width:186px;
  color: #FFFFFF;
  background: #E60000;
  height: 32px;
  line-height: 32px;
  text-align: center;
  visibility: hidden;
  border-radius: 5px;
  margin-bottom: -28px;
}
.tooltips .cont:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 30%;
  /*margin-left: -8px;*/
  width: 0; height: 0;
  border-top: 8px solid #E60000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips .cont {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.tooltips .ad1 {
  position: absolute;
  width:186px;
  color: #FFFFFF;
  background: #E60000;
  height: 32px;
  line-height: 32px;
  text-align: center;
  visibility: hidden;
  border-radius: 5px;
  margin-bottom: -28px;
}
.tooltips .ad1:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 30%;
  /*margin-left: -8px;*/
  width: 0; height: 0;
  border-top: 8px solid #E60000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips .ad1 {
  visibility: visible;
  opacity: 0.8;
  bottom: 66px;
  left: 50%;
  margin-left: 182px;
  z-index: 999;
}

.tooltips .ag {
  position: absolute;
  width:186px;
  color: #FFFFFF;
  background: #E60000;
  height: 32px;
  line-height: 32px;
  text-align: center;
  visibility: hidden;
  border-radius: 5px;
  margin-bottom: -28px;
}
.tooltips .ag:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 30%;
  /*margin-left: -8px;*/
  width: 0; height: 0;
  border-top: 8px solid #E60000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips .ag {
  visibility: visible;
  opacity: 0.8;
  bottom: 66px;
  left: 50%;
  margin-left: -10px;
  z-index: 999;
}
/*========================= RESPONSIVENESS ====================================*/

@media screen and (max-width: 1025px) {
  .nav-tabs > li > a {
    font-size: 12px;
  }
  .nav-tabs > li > a > span {
    display: inline-block;
  }
  .form-group.form-group-lg .form-control {
    font-size: 10px;
  }
  .mnufrm-field {
    font-size: 13px;
  }
  .flip-img {
    width: 100%;
    margin-top: 16px;
    margin-left: -3px;
  }
  .travcls {
    width: 200%;
    margin-left: -27px;
  }
  #dep-date {
    width: 120%;
    margin-left: -35px;
  }
  #ret-date {
    width: 120%;
    margin-left: -24px;
  }

}
@media screen and (max-width: 769px) {
  .flip-img {
    width: 350%;
    margin-left: -13px;
  }
  .btn-srch {
    font-size: 11px;
  }
  .travcls {
    width: 290%;
  }
  .mnufrm-field{
    font-size: 12px;
  }
  .air-num {
    font-size: 10px;
  }
  .airline-img {
    width: 175%;
  }
  .time {
    font-size: 22px;
  }
  .dep {
    font-size: 12px;
  }
  .dur-arrw {
    margin-left: -6px;
  }
  .trav-field {
    width: 133%;
  }
  .bus-ope {
    font-size: 13px;
  }
  .bus-type {
    font-size: 9px;
  }
  .savail {
    font-size: 10px;
  }
  .sqty {
    font-size: 10px;
  }
  .prc {
    font-size: 20px;
  }
  .bus-fa {
    font-size: 14px;
  }
  .ppp {
    font-size: 7px !important;
    font-weight: 800;
  }
  .sel-seat {
    font-size: 10px;
  }
  .cp {
    font-size: 6px;
  }
  .bus-dur {
    font-size: 11px;
  }
}
@media screen and (max-width: 426px) {
  .nav-tabs > li > a > span {
    display: none;
  }
}

/*======================== Filter ========================================*/

 label {
        margin-bottom: 0px;
      }
      .morning_icon {
        background: rgba(0, 0, 0, 0) url(../images/User/travel/img/Bus/bu-icons.png) no-repeat scroll 0 -30px;
        display: inline-block;
        height: 29px;
        width: 30px;
        margin: 4px 0 0;
      }
      .bef-time {
        font-size: 11px;
        color: #666;
      }
      .noon_icon {
        background: rgba(0, 0, 0, 0) url(../images/User/travel/img/Bus/bu-icons.png) no-repeat scroll -37px -32px;
        display: inline-block;
        height: 31px;
        width: 22px;
        margin: 2px 0 0;
      }
      .evening_icon {
        background: rgba(0, 0, 0, 0) url(../images/User/travel/img/Bus/bu-icons.png) no-repeat scroll -70px -31px;
        display: inline-block;
        height: 31px;
        width: 32px;
        margin: 2px 0 0;
      }
      .night_icon {
        background: rgba(0, 0, 0, 0) url(../images/User/travel/img/Bus/bu-icons.png) no-repeat scroll -110px -31px;
        display: inline-block;
        height: 31px;
        width: 27px;
        margin: 4px 0 0;
      }
      .slider.slider-horizontal {
        width: 99% !important;
      }
      body::-webkit-scrollbar {
          width: 8px;
      }
       
      body::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }
       
      body::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
       
      .sub-scrll::-webkit-scrollbar {
          width: 8px;
      }
       
      .sub-scrll::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }
       
      .sub-scrll::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
      .filter-dep ul {
        margin: 0px; 
        padding: 0px; 
        border: 1px solid #bcbcbc; 
        float: left; 
        width: 100%; 
        overflow: hidden; 
        border-radius: 4px;
      }
      .filter-dep ul li {
        border-right: 1px solid #bcbcbc; 
        display: inline-block; 
        float: left; 
        font-size: 12px; 
        list-style: outside none none; 
        padding: 0; 
        text-align: center; 
        box-shadow: 0 0 0 0px #bcbcbc; 
        width: 25%; 
        margin: 0 0; 
        padding: 4px 0;
      }


/*====================================== Bus Responsive ==============================*/

@media only screen and (max-width: 1024px) {
  #submit_Bus_Search {
    font-size: 16px;
  }
  .bus-ope {
    font-size: 14px;
  }
  .tme {
    font-size: 18px;
  }
  .prc {
    font-size: 20px;
  }
  .bus-dur {
    font-size: 12px;
  }
  .bus-type {
    font-size: 10px;
  }
  .ppp {
    font-size: 9px;
  }
  .sel-seat {
    font-size: 13px !important;
  }
  .cp {
    font-size: 9px;
  }
  .sho {
    font-size: 20px;
  }
  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .bef-time {
    font-size: 10px;
  }
  .select2-container {
    width: 199px !important;
  }
  #submit_Bus_Search {
    font-size: 11px;
  }
}

@media only screen and (max-width: 768px)  {
  .select2-container {
    width: 200px !important;
  }
  .sel-seat {
    font-size: 12px !important;
  }
  .filter {
    display: none;
  }
  .close2 {
    margin-left: 566px;
  }
}

@media only screen and (max-width: 425px) {
  .sho {
    font-size: 14px;
  }
  .close2 {
    margin-left: 355px;
  }
}
