.rederror {
	font-size: 14px;
	color: red;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	background-color: #17bcc8;
}

.nav-tabs>li>a:hover {
	background-color: #17bcc8;
}

#errormsgadult {
	position: absolute;
	margin-top: 30px;
	margin-left: -136px;
}

.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 50% !important;
	float: right;
	background: #fff;
}

.inner_tab_content_Hotel>.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100% !important;
	float: right;
	background: #fff;
}

.inner_tab_content_Holiday>.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100% !important;
	float: right;
	background: #fff;
}

.dropdown1 {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 280px;
	padding: 5px;
	left: 62%;
	/*     top: 413px; */
	position: absolute;
	z-index: 99;
}

.dropdown1 .t_menu {
	border-radius: 4px;
	box-shadow: none;
	margin-top: 10px;
	wi /dth: 300px;
}

.dropdown1 .t_menu:before {
	content: "";
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	top: -10px;
	right: 16px;
	z-index: 10;
}

.dropdown1 .t_menu:after {
	content: "";
	border-bottom: 12px solid #ccc;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	position: absolute;
	top: -12px;
	right: 14px;
	z-index: 9;
}

.t_divider {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0;
	border-top: 1px solid #eee;
}

.incr-btn {
	margin-left: 0px;
}

#errormsgdest {
	margin-left: 263px;
}

#errormsgdate {
	position: absolute;
	margin-top: 38px;
	margin-left: -200px;
}

#slider-container {
	width: 100%;
}

