.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 50% !important;
	float: right;
	background: #fff;
}

.inner_tab_content_Hotel>.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100% !important;
	float: right;
	background: #fff;
}

.inner_tab_content_Holiday>.select2-container {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	position: relative;
	vertical-align: middle;
	width: 100% !important;
	float: right;
	background: #fff;
}

.dropdown1 {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 280px;
	padding: 5px;
	left: 55%;
	top: 343px;
	position: absolute;
	z-index: 99;
}

.dropdown1 .t_menu {
	border-radius: 4px;
	box-shadow: none;
	margin-top: 10px;
	wi /dth: 300px;
}

.dropdown1 .t_menu:before {
	content: "";
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	top: -10px;
	right: 16px;
	z-index: 10;
}

.dropdown1 .t_menu:after {
	content: "";
	border-bottom: 12px solid #ccc;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	position: absolute;
	top: -12px;
	right: 14px;
	z-index: 9;
}

.t_divider {
	margin-top: 15px;
	margin-bottom: 15px;
	border: 0;
	border-top: 1px solid #eee;
}

.incr-btn {
	margin-left: 0px;
}

@media screen and (max-width: 1440px) {
	.dropdown1 {
		top: 388px;
	}
}

@media screen and (max-width: 1024px) {
	.dropdown1 {
		top: 343px;
	}
}

@media screen and (max-width: 768px) {
	.dropdown1 {
		left: 12%;
		top: 407px;
	}
}

@media screen and (max-width: 425px) {
	.dropdown1 {
		left: 12%;
		top: 454px;
	}
	.dropdown1 .t_menu:before {
		right: auto;
	}
	.dropdown1 .t_menu:after {
		right: auto;
	}
}

.hide {
	visibility: hidden;
}

.rederror {
	font-size: 12px;
	color: red;
}